[2015-10-31 18:07] jthelin opened #8 "Problem building SparkCLR code with msbuild VS2015 settings on VSO"
Any clues to why this code won't build with msbuild 2015 on VSO?

I set up an automated build from github master branch on my VSO instance with default settings for the msbuild step, and strangely the build failed with the errors below.

I knew the code built ok for me on my local machine (which has VS2013 installed), so as an experiment I set the VSO build step to use "VS2013" setting instead, an

[2015-11-01 18:39] xiongrenyi commented on #8
looks like explicit type conversion is required here by VS2005 compiler:

Map(x => new KeyValuePair<T, int>(x, 0)).ReduceByKey((x,y)
=> x, numPartitions).Map<T>(x => x.Key)

Date: Sat, 31 Oct 2015 11:07:50 -0700
From: notifications@github.com
To: SparkCLR@noreply.github.com
Subject: [SparkCLR] Problem building SparkCLR code with msbuild VS2015 settings on VSO (#8)

Any clues to why this code won't

[2015-11-06 00:15] jthelin commented on #8
Fixed in PR #20

[2015-11-06 00:15] #8 closed

[2015-11-11 08:29] LeiTi opened #35 "cant run the samples"
Error: Could not find or load main class org.apache.spark.launcher.SparkCLRSubmitArguments

em... can someone tell me why?

[2015-11-11 08:41] skaarthik commented on #35
Can you share the steps you are following to run the samples? There are multiple deployment modes and we would like to make sure that the steps you are following are supported/tested.

[2015-11-11 09:00] LeiTi commented on #35
i follow the step from https://ci.appveyor.com/project/skaarthik/SparkCLR/branch/master and set the environment variables.

 Then uncommit the setting
`<add key="CSharpWorkerPath" value="C:\SparkCLR-master\SparkCLR-master\csharp\Samples\Microsoft.Spark.CSharp\bin\Release\CSharpWorker.exe"/> `
and run command
`sparkclr-submit.cmd --verbose -exe SparkCLRSamples.exe  %SPARKCLR_HOME%\samples spark.loc

[2015-11-11 09:03] LeiTi commented on #35
em..anyway i change the sparkclr-submit.cmd

`"%JAVA_HOME%\bin\java" -cp %LAUNCH_CLASSPATH% org.apache.spark.launcher.SparkCLRSubmitArguments %* > %LAUNCHER_OUTPUT%`

simply because my %JAVA_HOME% include space and it go wrong here.

[2015-11-11 10:58] tawan0109 commented on #35
Please try below cmd again with latest code, we just merged some changes.

 sparkclr-submit.cmd --verbose --exe SparkCLRSamples.exe %SPARKCLR_HOME%\samples spark.local.dir C:\temp\SparkCLRTemp sparkclr.sampledata.loc %SPARKCLR_HOME%\data sparkclr.samples.torun PiSample

[2015-11-11 20:18] danielli98 opened #37 "[DataFrame/SQL][design change request]label access check"
supporting building a row by adding fields/columns (testing)

[2015-11-11 20:30] #37 closed

[2015-11-11 20:30] danielli98 commented on #37
testing

[2015-11-11 23:35] jthelin opened #39 "Build problem with VS2015 on VSO"
The latest PR #38 seems to have broken my VSO build when using VSO's VS2015 (MsBuild 14) settings.

Build works ok when using VSO's VS2013 (MsBuild 12) settings, so i think it is similar problem to issue #8.

Paradoxically, my AppVeyor build also uses msbuild 14 and that works ok, so seems to be some specific problem with VSO environment :(
https://ci.appveyor.com/project/jthelin/sparkclr/build/1.

[2015-11-12 00:00] danielli90 commented on #39
I have a VS 2015 installed locally - the build worked for me.

[2015-11-12 00:02] jthelin commented on #39
Is that building in Visual Studio, or using MsBuild command line build?

[2015-11-12 00:02] danielli90 commented on #37
testing - removed design change request from title and replaced with label

[2015-11-12 00:08] danielli90 commented on #39
Sorry for not being clear. I used Developer Command Prompt for VS 2015

[2015-11-12 03:09] LeiTi commented on #35
i use the latest code and it still can't run.
`Could not find or load main class org.apache.spark.launcher.SparkCLRSubmitArguments`

can someone tell me is there exist a main class in `spark-clr-1.4.1-SNAPSHOT.jar\org\apache\spark\launcher` if it compile successful?

[2015-11-12 03:13] skaarthik commented on #35
@tawan0109 - please follow-up with @LeiTi. Once the issue is resolved @LeiTi  can close the issue.

[2015-11-12 04:51] tawan0109 commented on #35
Hi LeiTi, please check whether %SPARKCLR_HOME% is set properly, and spark-clr-1.4.1-SNAPSHOT.jar can be found under %SPARKCLR_HOME%\lib. If still can't work, please make below modifications to your scripts/sparkclr-submit.cmd, rerun it and send us the output, we will use it for diagnosis.

(line 41)
[code]

[2015-11-12 05:44] LeiTi commented on #35
`C:\Program Files\Java\jdk1.8.0_65\bin\java -cp ;D:\sparkCLRHome\lib\spark-clr-1.4.1-SNAPSHOT.jar;D:\sparkcsv\commons-csv-1.2.jar;D:\sparkcsv\spark-csv_2.11-1.2.0.jar org.apache.spark.launcher.SparkCLRSubmitArguments --verbose --exe SparkCLRSamples.exe D:\sparkCLRHome\samples spark.local.dir C:\temp\SparkCLRTemp sparkclr.sampledata.loc D:\sparkCLRHome\data`

[2015-11-12 06:12] tawan0109 commented on #35
It looks like spark-assembly-1.4.1-hadoop2.6.0.jar is missing in the classpath. Would you please check whether %SPARK_HOME% has been set properly, and spark-assembly-1.4.1-hadoop2.6.0.jar can be found under %SPARK_HOME%\lib?

[2015-11-12 07:52] LeiTi commented on #35
ya. i found that there is no folder name lib under SPARK_HOME...and  `spark-assembly-1.4.1-hadoop2.4.0.jar` is under folder assembly...

[2015-11-12 08:00] danielli90 commented on #35
It seems you didn't download spark bits, before running the samples.

Sent from my Windows Phone
________________________________
From: LeiTi<mailto:notifications@github.com>
Sent: ‎11/‎11/‎2015 11:53 PM
To: Microsoft/SparkCLR<mailto:SparkCLR@noreply.github.com>
Subject: Re: [SparkCLR] cant run the samples (#35)

ya. i found that there is no folder name lib under SPARK_HOME...and  `spark-assembly-

[2015-11-12 08:23] LeiTi commented on #35
u r right. i build it use mvn by myself. now i download spark-bin and it run.
i think we can close this issue. thk all.

[2015-11-12 08:27] #35 closed

[2015-11-12 16:10] jthelin commented on #39
OK, thanks for confirming @danielli90

In the past some times VS and MsBuild give slightly different outcomes even for the same version, but not in this case.

Looks like this is most likely a bug in VSO then, so i'll close this issue and send bug report to VSO Team instead.

[2015-11-12 16:10] #39 closed

[2015-11-13 03:03] LeiTi opened #48 "cant stop in Running sample DStreamTextFileSamples"
may something wrong here.

[2015-11-13 03:17] tawan0109 commented on #48
Please run the sample with the latest code, there is [commit](https://github.com/Microsoft/SparkCLR/pull/44) about it.

[2015-11-13 05:50] qintao1976 commented on #48
It takes 7~8 minutes to run this test. This is the output:

[2015-11-12 19:52:13,024] [1] [INFO ] [Microsoft.Spark.CSharp.Samples.SparkCLRSamples] - ----- Running sample DStreamTextFileSamples -----
Connecting to a callback server at port 36060
-------------------------------------------
Time: 1447386734000
-------------------------------------------
[The, 184]
[quick, 176]
[brown, 176]
[fox, 176]

[2015-11-13 06:01] LeiTi commented on #48
ya. thanks. it pass on my machine now.

[2015-11-13 06:54] LeiTi commented on #48
em. i found something strange.
if i only run DStreamTextFileSamples function (use `sparkclr.samples.torun` parameter `) , it will success.
however if i run all the samples use command `sparkclr-submit.cmd --verbose --exe SparkCLRSamples.exe  %SPARKCLR_HOME%\samples spark.local.dir C:\temp\SparkCLRTemp sparkclr.sampledata.loc %SPARKCLR_HOME%\data` it will  fail.

and i note that SparkCLRSamples.exe

[2015-11-13 07:23] tawan0109 commented on #48
@LeiTi thanks for reporting it. This is a known issue, we are working on it, will update you once it get fixed.

[2015-11-13 15:05] qintao1976 commented on #48
Now the DStream example is still experimental. I have just checked in some code. Now by default, DStream example will not be ran. You can set command line option:

sparkclr.samples.category all
to run all the examples.

Or
sparkclr.samples.category DStream

to run only the DStream example.

We are still working on the DStream example. Thanks

[2015-11-13 17:19] xiongrenyi commented on #48
streaming is a M2 feature - https://github.com/Microsoft/SparkCLR/milestones
we're working on shutting down streaming program gracefully without impacting other samples after which we'll bring it back

[2015-11-13 19:01] xiongrenyi commented on #48
Hi Tao,

Can you change category 'DStream' to 'Experimental'? Daniel raised a good point this morning that people should feel free to add any samples under a different category outside of functional test suite to test their features without impacting others

[2015-11-14 12:58] qintao1976 commented on #48
It is easy to do that, only need to change the tag from [Sample("DStream")] to [Sample("Experimental")].

My question is: do we need multiple categories for experimental test cases so we can easily run only one category at one time?

If there is no such need, then we can put all experimental test cases in one "Experimental" category.

[2015-11-14 17:45] xiongrenyi commented on #48
I think just Experimental is fine for now

Sent from my Windows Phone
________________________________
From: Tao Qin<mailto:notifications@github.com>
Sent: ‎2015/‎11/‎14 4:58
To: Microsoft/SparkCLR<mailto:SparkCLR@noreply.github.com>
Cc: Renyi Xiong<mailto:renyix@microsoft.com>
Subject: Re: [SparkCLR] cant stop in  Running sample DStreamTextFileSamples (#48)

It is easy to do that, only need to ch

[2015-11-16 06:35] qintao1976 commented on #48
Ok, I have changed the tag to "experimental".

So now you should use
sparkclr.samples.category all
to run all the examples.

Or
sparkclr.samples.category experimental
to run only experimental examples.

[2015-11-18 07:06] TonyAbell opened #66 "FSharp API?"
Would this project be open to supporting an FSharp API wrapper?

Something to make the it easier to write idiomatic FSharp code.

[2015-11-18 18:27] danielli90 commented on #66
The current focus for SparkCLR is on C#. We heard interest in writing Spark driver program in F#. We may be able to investigate the design post M2 (https://github.com/Microsoft/SparkCLR/milestones). We do believe the design for C# support can be leveraged for F# support.

Tag this issue as "Future". Your comments on the impact and the benefit for SparkCLR to support F#, will help us prioritize pos

[2015-11-19 21:33] danielli90 opened #75 "Switch to fluent assertion"
Currently `Assert()` in Microsoft.VisualStudio.QualityTools.UnitTestFramework are used in samples and unit tests code. [FluentAssertions](http://www.fluentassertions.com/) (or [N-Fluent](http://n-fluent.net/)) offers a fluent style assertion, helps pinpoint the cause of assertion much more efficient. See original comment by @jthelin suggested in #68. Create this issue as suggestions to adopt fluen

[2015-11-19 22:22] jthelin commented on #66
@TonyAbell -- Looks like you have lots of experience using F# so any insight you can provide would be very useful.

As @danielli90 said, "in theory" SparkCLR should work with any .NET language, but I know there are often subtle things that C# programmers can (unknowingly) do with their APIs that can make it harder (or easier) for F# programmer to use them.

For example, on [another project](https:

[2015-11-20 03:49] skaarthik commented on #66
@TonyAbell - F# support is something that has come several times in our discussions. I am interested in formally collecting data on how F# support would benefit the Spark community and why having C# API is not enough. Please share your comments. We can use this issue to collect data from other interested folks. We will use the data collected to make decisions on priority, scope, dates etc.

[2015-11-24 02:07] danielli90 opened #84 "Define a public constant for SPARKCLR_HOME in ConfigurationService.cs"
"SPARKCLR_HOME" should be defined as a public constant in ConfigurationService.cs. See original comment in #77

[2015-12-01 17:41] danielli90 opened #102 "Missing license text in batch and powershell scripts"
License header should be added to all batch (.cmd) and powershell scripts (.ps1)

[2015-12-01 19:51] skaarthik opened #105 "Investigate SparkCLR compatibility in Linux"
Explore if Mono or .NET core can be used to run SparkCLR in Linux based Spark clusters

[2015-12-01 19:55] skaarthik opened #106 "load usage help text for samples from file"
Improve PrintUsage implementation in https://github.com/Microsoft/SparkCLR/blob/master/csharp/Samples/Microsoft.Spark.CSharp/Program.cs#L215. Instead of inline strings, help text could be loaded from a text file. This help file can be referenced in readme file also.

[2015-12-01 21:04] rapoth commented on #105
@kai-zeng and I are looking into this.

[2015-12-02 06:30] kai-zeng commented on #75
@rapoth and I are looking into SparkCLR compatibility in Linux (#105).
We find that the xbuild tool on Mono cannot build SparkCLR due to failure to restore MSTest. I have experimented with changing SparkCLR unit tests to use the NUnit test framework, where xbuild is able to restore and build the project smoothly.

So I suggest we consider switching to NUnit for unit test, as NUnit:
* is available

[2015-12-02 06:48] danielli90 commented on #75
Sounds reasonable to me. Per this article - http://www.florian-rappl.de/News/Page/275/convert-mstest-to-nunit, it seems the cost is manageable – it mentioned http://www.monodevelop.com/, we may want to check out.

Thx
Daniel

From: Kai Zeng [mailto:notifications@github.com]
Sent: Tuesday, December 1, 2015 10:30 PM
To: Microsoft/SparkCLR <SparkCLR@noreply.github.com>
Cc: Daniel Li (BING) <danielli@

[2015-12-02 06:49] kai-zeng opened #111 "Inconsistent addressing schemes used by sockets in SparkCLR"
In Microsoft.Spark.CSharp.Core.RDD, method Collect creates a socket without explicitly specifying the AddressFamily, which by default is InterNetworkv6 (ip v6). This also cause "invalid argument" exceptions on Linux when calling collect on RDD.
This is also inconsistent with other places in SpakCLR, e.g., SparkCLRSocket or JvmBridge, where sockets always explicitly use AddressFamily.InterNetwork (

[2015-12-02 08:46] skaarthik commented on #75
Switching to NUnit sounds good to me. Please send PR.

[2015-12-02 16:58] #111 closed

[2015-12-03 00:40] ramangrover opened #117 "Interactive (REPL) support in SparkCLR (for integration with higher-level tools - Jupyter)"
SparkCLR needs to support the interactive mode that enables the end-user to express computation/analysis as a set of C# code statements that get executed in the REPL  (Read, Evaluate, Print, Loop) way. An end-user could then interact with SparkCLR via a prompt. Interactive mode also provides a stepping stone for integration with high-level tools - particularly Jupyter.

Summarizing design consider

[2015-12-03 08:19] kai-zeng opened #120 "Continuous integration for both Windows and Linux systems"
In order to provide stable Linux compatibility for SparkCLR, we need to set up continuous integration for Linux. AppVeyor does not have Linux support. I have experimented with Travis CI, which worked well for SparkCLR on Linux. Travis CI uses xbuild for building, and supports NUnit for testing. It also support OS X, but it does not support Windows yet.

One option to our problem is to host our own

[2015-12-03 21:15] skaarthik opened #123 "get user confirmation before setting execution policy in RunSamples.cmd"
Set-ExecutionPolicy is used in RunSamples.cmd and it changes the user preference for the Windows PowerShell execution policy. A warning has to be displayed to the user and execution policy should be updated only upon confirmation from the user. If it is possible to check the execution policy prior to doing anything regarding that, it would be preferable.

[2015-12-04 00:33] skaarthik commented on #120
We can go with two CI services for now - AppVeyor for Windows and Travis for Linux. We can consider hosting Jenkins if we see any compelling reason for it.

[2015-12-04 17:42] danielli90 opened #130 "Update Pom.xml to support creating uber package as a separate goal"
Pom.xml is ued to produce lean and mean SparkCLR package by default. This default Pom.xml supports debug mode in IDE like IntelliJ. For end-2-end testing and job submission, as a workaround, build.cmd modifies pom.xml at build-time to produce uber SparkCLR package which includes dependent packages (PR#127)

The workaround needs to be replaced by a separate goal in Pom.xml, explicitly.

[2015-12-04 19:32] skaarthik opened #131 "move build artifacts out of scripts folder"
https://github.com/Microsoft/SparkCLR/tree/master/scripts folder was originally meant for scripts that will be included in the release (like sparkclr-sumibt). If we want to stick to that original scope, we need to move build-related scripts like addotherplugins.ps1 out of it.

[2015-12-05 00:18] kai-zeng opened #134 "Errors detected by "RunSamples.cmd --validate" do not propagate to AppVeyor's build status"
We set to test the samples as a after_test task in AppVeyor. However, currently the test status is not reflected in the build status of AppVeyor. Specifically, even SamplesRunner has failed samples, AppVeyor still reports "build succeeded".

To solve this bug, we should let SamplesRunner propagate the status through ReportOutcome.

[2015-12-05 01:11] #134 closed

[2015-12-05 20:55] danielli90 commented on #130
maven profile seems a solution here - http://stackoverflow.com/questions/4519672/maven-alternate-pom; http://maven.apache.org/guides/introduction/introduction-to-profiles.html.

[2015-12-05 20:56] danielli90 commented on #131
we can create a new "build" top-level directory and move build-related scripts there.

[2015-12-06 02:07] kai-zeng commented on #120
I have finished task 1: preparing scripts for linux.
There is one compatibility issue: Spark's PythonWorkerFactory has two mechanisms for managing Worker processes: (1) directly launching worker processes; (2) lauching workers through a daemon process.
Currently to make samples run, I am using a modified spark-assembly jar which only use approach (1) to manage workers.

To Linux support on board a

[2015-12-07 10:59] toddwan commented on #117
Thanks for the proposal. Below are some initial comments:

* About the RESTful server, I don't think we should spawn it from `CSharpRunner`. Instead, we can implement it as a common Spark app(.exe) powered by SparkCLR. When this sparkclr app starts, it first instantiates a `SparkContext` instance, and then listen to a port waiting for connection from Jupyter, once get connected, executes received

[2015-12-07 11:42] tawan0109 commented on #117
Thanks for the proposal. Below are some initial comments:

* About the RESTful server, I don't think we should make code changes to spawn it from `CSharpRunner`. Instead, we can implement it as a common Spark app(.exe) powered by SparkCLR. When this sparkclr app starts, it first instantiates a `SparkContext` instance, and then listen to a port waiting for connection from Jupyter, once get connecte

[2015-12-08 03:48] skaarthik opened #147 "set executable name as app name"
"org.apache.spark.deploy.csharp.CSharpRunner" shows as the app name in Spark UI. All SparkCLR apps will have the same name if app.name is not explicitly set. We could set exe name as the app name if it is provided explicitly.

@tawan0109 - I vaguely remember fixing this issue a while back. Did anything change recently?

[2015-12-08 04:18] tawan0109 commented on #147
@skaarthik for now I can't recall any changes that may be related to it. Let me do a quick fix to bring it back first.

[2015-12-08 07:10] #147 closed

[2015-12-08 07:14] tawan0109 commented on #147
@skaarthik This issue closed automatically after I merged the PR #148 , please reopen it if you think it needs more investigation.

[2015-12-09 07:00] danielli90 commented on #117
Thank @ramangrover for the proposal. I agreed with @tawan0109 that SparkCLRShell can be implemented as a regular SparkCLR app, leveraging scriptcs, without RESTful server involved, similar to how PySpark shell is implemented.

Agreed that C# Kernel is needed for Jupyter integration, which can be built on top of SparkCLRShell. For example, Jupyter IPython kernel submits a PysparkShell job in Spark

[2015-12-10 23:48] kai-zeng opened #155 "Implement a Daemon process to take charge of launching Worker processes"
On linux, [PythongWorkerFactory] (https://github.com/apache/spark/blob/master/core/src/main/scala/org/apache/spark/api/python/PythonWorkerFactory.scala) launches worker processes through a daemon process. To be linux compatible, we need to implement a daemon process similar to [daemon.py] (https://github.com/apache/spark/blob/master/python/pyspark/daemon.py) in pyspark.

[2015-12-13 23:32] kai-zeng commented on #120
Fixed by PR #157

[2015-12-13 23:32] #120 closed

[2015-12-14 06:29] rogerpengyu opened #161 "Build.cmd failed when Nuget.config is modified by other application"
I hit the build.cmd error in building csharp folder. Digging into it I found the "nuget restore" didn't pull the packages into the correct folder, instead, it pulled the packages into a shared folder. This is because I have a pacman main empty enlistment in the same computer, which changed the nuget.config as:

<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <activePackageSource>
    <add

[2015-12-15 07:43] tawan0109 opened #164 "Send out email notification after Travis CI build completes"
Currently no email notification is sent out after Travis CI build completes (at least no email for a passed build), it will be very helpful if Travis CI sends email notification to PR owner after each build, just like what Appveyor does.

[2015-12-15 07:48] skaarthik commented on #131
With the recent addition of Linux scripts, I think it will be better to add two build folders for Windows and Linux each soon.

[2015-12-17 01:41] ms-guizha commented on #106
I will take this one , any one who has assignment acess and can assign it to me

[2015-12-17 01:48] qintao1976 commented on #106
Have assigned this issue to you. thanks

[2015-12-17 21:42] jthelin commented on #161
BTW @rogerpengyu, the [GitHub OctoCat](https://github.com/octocat) seems to have eaten the XML code you posed in this thread!

Could you repost or edit to surrounded it by the 3-backticks "code fence" so we can read it?
https://help.github.com/articles/github-flavored-markdown/#fenced-code-blocks

\`\`\` xml
<?xml version="1.0" encoding="utf-8"?>
\<foo>
  \<bar/>
\</foo>
\`\`\`

Thanks,

[2015-12-17 21:45] jthelin commented on #84
I think this is now fixed by PR #168

[2015-12-18 06:42] skaarthik opened #172 "review SparkCLR for deprecated API"
As SparkCLR is upgraded to Spark 1.5.2, we need to review deprecation list for 1.4.1 (https://spark.apache.org/docs/1.4.1/api/java/deprecated-list.html#method) and cleanup SparkCLR to ensure it does not take any dependency on these methods and also does not provide the corresponding C# APIs in M1.

[2015-12-18 06:49] skaarthik commented on #172
https://spark.apache.org/docs/1.5.2/api/java/deprecated-list.html#method is better. It covers deprecated methods in all versions from 1.3.0 to 1.5.2.

[2015-12-18 06:54] skaarthik commented on #164
+1
Today Travis build failed but I was not notified. Seeing AppVeyor notification on successful build completion I assumed the same for Travis build but later noticed Travis failure in the PR checklist.

@kai-zeng & @danielli90 how easy is it to add the notification?

[2015-12-18 23:41] skaarthik opened #174 "add validation for samples"
There are still lot of samples that do not have validation. Since we are using samples as our functional test suite, we need to add validation for all samples.

Samples are at https://github.com/Microsoft/SparkCLR/tree/master/csharp/Samples/Microsoft.Spark.CSharp

[2015-12-19 10:29] qintao1976 commented on #84
yes, it is fixed by PR #168.
I close the issue.
Thanks

[2015-12-19 10:29] #84 closed

[2015-12-21 22:45] skaarthik commented on #117
@ramangrover - thanks for the great write-up.

Looking forward to your response to the comments from @tawan0109.
It would be great if you can add comments on alternative architectures you considered. For example, would it help to have a standalone REST server that leverage SparkCLR API? - like an ASP.NET Web API service that does the exact same thing you explained under (a). I think that would be

[2015-12-21 22:58] skaarthik opened #178 "improve unit test coverage in "Core" namespace"
Following classes need improvements in unit test coverage.
* Accumulator
* Broadcast
* SparkContext
* RDD
* StatusTracker

See code coverage numbers at https://codecov.io/github/Microsoft/SparkCLR/csharp/Adapter/Microsoft.Spark.CSharp/Core

[2015-12-21 22:59] skaarthik opened #179 "improve unit test coverage in "Sql" namespace"
Following classes need improvements in unit test coverage.
* Functions.cs
* UserDefinedFunctions & corresponding methods in SqlContext
* Row
* Column

See code coverage numbers at https://codecov.io/github/Microsoft/SparkCLR/csharp/Adapter/Microsoft.Spark.CSharp/Sql

[2015-12-21 23:01] skaarthik opened #180 "improve unit test coverage in utils"
Following classes need improvements in unit test coverage.
* JsonSerDe
* PayloadHelper
* SerDe
* ConfigurationService

See code coverage numbers at https://codecov.io/github/Microsoft/SparkCLR/csharp/Adapter/Microsoft.Spark.CSharp

[2015-12-22 21:09] skaarthik opened #188 "improve unit test coverage in worker"
Key code paths in worker like accumulators, broadcast variables etc. worker implementation not covered by unit tests.

See https://codecov.io/github/Microsoft/SparkCLR/csharp/Worker/Microsoft.Spark.CSharp/Worker.cs

[2015-12-23 01:52] ms-guizha commented on #106
I have sent out PR

[2015-12-23 02:49] skaarthik commented on #106
Thanks @ms-guizha for addressing this issue. Merged your PR to master.

[2015-12-23 02:49] #106 closed

[2016-01-04 18:19] skaarthik opened #198 "updates to design spec & slide deck"
The docs at https://github.com/Microsoft/SparkCLR/tree/master/docs do not include streaming processing that was recently added to SparkCLR after the initial version of docs were uploaded. We need to keep it updated for contributors and users.

@xiongrenyi - can you update the doc?

[2016-01-04 18:26] skaarthik opened #199 "need instructions to configure & use SparkCLR in existing Spark cluster"
Need the instructions as a part of M! release package

[2016-01-04 18:29] skaarthik opened #200 "documentation for SparkCLR API"
Need API documentation for M1 release

[2016-01-05 02:07] qintao1976 commented on #130
I think this is solved by PR #197.

[2016-01-05 02:07] #130 closed

[2016-01-05 15:22] nkiranrao opened #204 "Where can I ask for help for SparkCLR"
I have asked a question on  [stackoverflow here] ( http://stackoverflow.com/questions/34614963/using-dataframes-created-in-sparkclr-with-zeppelin-queries ) but looks like there are no followers for the `sparkclr` tag. I was wondering where can we request for help on using this?

Thanks
Kiran

[2016-01-05 18:00] skaarthik commented on #204
Hi Kiran - thanks for checking. Some of us in SparkCLR dev team look for posts in StackOverflow on SparkCLR and C# with Spark in a regular cadence. Since sparkclr tag didn't even exist until few days back, we could not subscribe to it. Based on my quick research adding tags is allowed only at the time of posting a question and I personally did not want to post a SO question just for the purpose of

[2016-01-05 18:00] #204 closed

[2016-01-06 03:34] ms-guizha commented on #172
I have done the review and found some issues
<1>org.apache.spark.streaming.StreamingContext.awaitTermination(long)
As of 1.3.0, replaced by awaitTerminationOrTimeout(Long), but it still exists in our code
<2> org.apache.spark.sql.types.DataType.fromCaseClassString(String)
As of 1.2.0, replaced by DataType.fromJson(), I can not find "fromJson" method in DataType.cs , only find "ParseDataTypeFromJso

[2016-01-06 03:37] ms-guizha commented on #172
if you think the depredated API I have found  should be removed, let me know and I will try to remove.

[2016-01-06 03:38] ms-guizha commented on #174
anyone who has access to assign , please assign this to me

[2016-01-06 04:55] skaarthik commented on #172
Thanks @ms-guizha ! Please add [Obsolete] attribute to these deprecated methods with a brief comment on the replacing method similar to how spark has annotated the methods as deprecated with info on replacement methods. If the replacement method is missing in SparkCLR for any deprecated method, please add it or create a separate issue with the list of missing methods for others to grab.

[2016-01-06 05:05] xiongrenyi commented on #198
done

[2016-01-06 05:34] ms-guizha commented on #172
I will do that. Btw, I have no access to create a separate issue

[2016-01-06 06:10] qintao1976 commented on #131
addotherplugins.ps1 has been removed by PR #197.  But there is still script "zipdir.ps1" remaining in this folder.

[2016-01-06 06:25] qintao1976 commented on #161
I hit the same problem, and solved it by following:
http://stackoverflow.com/questions/4092759/is-it-possible-to-change-the-location-of-packages-for-nuget

Will send a PR to fix it.

Thanks

[2016-01-06 08:33] ms-guizha commented on #172
Another three APIs deprecated in DataFrame.cs

<5>org.apache.spark.sql.DataFrame.save(String, String, SaveMode)
As of 1.4.0, replaced by write().format(source).mode(mode).save(path).

<6>org.apache.spark.sql.DataFrame.saveAsParquetFile(String)
As of 1.4.0, replaced by write().parquet().

<7>org.apache.spark.sql.DataFrame.saveAsTable(String, String, SaveMode, Map)
As of 1.4.0, replaced by write().f

[2016-01-07 05:26] qintao1976 commented on #161
I think this problem is fixed by PR #208.

Thanks

[2016-01-07 05:26] #161 closed

[2016-01-07 07:43] tawan0109 commented on #174
I think @jayjaywg  is working on this issue now.

[2016-01-07 09:21] jayjaywg commented on #174
yes I am working this. @ms-guizha

[2016-01-07 09:32] jayjaywg opened #212 "Improve documentation comments on APIs"
Some documentation comments on APIs were copied from Scala or Python. Some of them still contain Scala/Python specified comments tags (e.g, C{***} in scala). Need to revisit documentation on APIs.

[2016-01-08 06:49] ms-guizha commented on #174
OK

[2016-01-08 19:41] skaarthik commented on #174
@ms-guizha if you are interested you could take up one of the unit test improvements https://github.com/Microsoft/SparkCLR/issues/180 or https://github.com/Microsoft/SparkCLR/issues/179

[2016-01-08 19:53] #200 closed

[2016-01-10 06:48] tawan0109 commented on #188
All key code paths in worker are covered by UT now, the overall test coverage for Worker is almost 80%.
https://codecov.io/github/Microsoft/SparkCLR/csharp?ref=ef63d27014af3c48ee6d9b404804941fb4dcaaa8

[2016-01-10 06:48] #188 closed

[2016-01-10 21:44] skaarthik commented on #131
Fixed with https://github.com/Microsoft/SparkCLR/pull/224

[2016-01-10 21:44] #131 closed

[2016-01-11 08:56] ms-guizha commented on #172
I have resolved <3>~<7>, as for <1> <2>, I am not sure whether I can just replace the API name , anyone who know can give me some advice

[2016-01-11 08:57] ms-guizha commented on #174
@skaarthik  you can assign me #179 first ~

[2016-01-11 19:18] skaarthik commented on #174
@ms-guizha assigned #179 to you. Thanks.

[2016-01-11 20:02] skaarthik commented on #172
1 - rename the method to awaitTerminationOrTimeout
2 - looks like we do not use fromCaseClassString. You can skip this.

[2016-01-12 02:29] ms-guizha commented on #172
ok , after finishing the rename for <1>, we can close this issue

[2016-01-12 05:11] skaarthik commented on #172
Thanks @ms-guizha

[2016-01-12 05:11] #172 closed

[2016-01-12 05:11] #198 closed

[2016-01-13 06:40] tawan0109 commented on #178
Now the overall test coverage in `Core` namespace has approached `83.53%`, close this issue for now.

https://codecov.io/github/Microsoft/SparkCLR/csharp/Adapter/Microsoft.Spark.CSharp?ref=9be16a5869b9c9416732781045df8b08461a2dcc

[2016-01-13 06:40] #178 closed

[2016-01-13 06:47] skaarthik commented on #178
Great job. Thanks @tawan0109

[2016-01-13 22:52] ohwang commented on #123
This can be done as easy as add ``-Confirm`` parameter to ``Set-ExecutionPolicy``

However, I find that the only PS script run in the this cmd file is ``downloadtools.ps1``, if this is the case it would be better to set ExecutionPolicy when invoke the script without altering the registry settings, i.e.
[code]

[2016-01-14 08:58] #174 closed

[2016-01-14 10:45] tawan0109 commented on #180
Current coverage:
* JsonSerDe   97.37%
* PayloadHelper  98.26%
* SerDe   100%
* ConfigurationService  85%

[2016-01-14 10:45] #180 closed

[2016-01-14 17:48] skaarthik commented on #123
Thanks @ohwang . I like the second option.

[2016-01-15 00:16] mkinoti commented on #102
Test

[2016-01-15 00:19] ms-guizha commented on #179
this issue is done, we can close this issue

[2016-01-15 00:29] skaarthik commented on #179
Thanks @ms-guizha

[2016-01-15 00:29] #179 closed

[2016-01-15 00:29] #199 closed

[2016-01-15 02:39] ms-guizha commented on #155
any one who has access to assign this bug to me

[2016-01-15 02:40] kai-zeng commented on #155
@ms-guizha Assigned to you. Thank you, Joe!

[2016-01-15 02:59] danielli90 commented on #155
Thanks Joe. As you work on this issue/prototype, can you create a brief design along the way, so we can have design discussions as well?

[2016-01-15 04:39] ms-guizha commented on #155
I just got this issue and has not begun on. I will create a brief deign and discuss first

[2016-01-15 18:06] jthelin commented on #212
Also many items are missing API docs for public members, which gets flagged in the csharp build as CS1591 warnings.

For example:
[code]

You have to scroll down in the build log past a huge amount of mvn download "noise" to find these though :(

[2016-01-15 19:14] danielli90 commented on #102
assigned to @mkinoti

[2016-01-17 19:25] danielli90 opened #267 "Add a WordCount example"
Need a wordcount example similar to https://github.com/apache/spark/blob/master/examples/src/main/python/wordcount.py

[2016-01-17 19:25] danielli90 commented on #267
assign to @xsidurd

[2016-01-19 00:43] ohwang commented on #155
It looks like the reason that ``pyspark`` and ``sparkR`` prefer to launch workers from daemon is because it is cheaper compared with forking directly from JVM (which is expensive because JVM process itself is usually expensive). In other words, this can be considered as some *optimization* that is only available for Linux now.

If the purpose is mainly to be Linux compatible then it is possible to

[2016-01-19 18:24] kai-zeng commented on #155
The main purpose is to be Linux compatible. However, we prefer not to override useDaemon or add a config parameter because it's better to keep the Spark core unchanged.
And of course, using Daemon on Linux can also bring performance advantages.

In short, implementing such a Daemon process is to make SparkCLR work in the same way as pyspark or sparkR, i.e.,
(1) use Daemon to launch worker on Linux

[2016-01-20 23:57] skaarthik opened #271 "add Scala unit tests to CodeCov"
Need to measure code coverage for unit tests at https://github.com/Microsoft/SparkCLR/tree/master/scala/src/test and report them through CodeCov.

[2016-01-22 03:31] skaarthik opened #274 "improve unit test coverage in "Sql" namespace"
Some classes still have code coverage less than 75%. We need to increase the coverage to 75% or more.

See https://codecov.io/github/Microsoft/Mobius/csharp/Adapter/Microsoft.Spark.CSharp/Sql

[2016-01-22 03:38] skaarthik opened #275 "move SetSparkClrPackageVersion.ps1 to dev\scripts folder"
The script is misplaced at https://github.com/Microsoft/SparkCLR/tree/master/examples.

[2016-01-22 03:39] skaarthik opened #276 "add streaming example - Kafka"
Need a standalone example at https://github.com/Microsoft/SparkCLR/tree/master/examples

[2016-01-22 03:40] skaarthik opened #277 "add streaming example - EventHub"

[2016-01-22 03:48] skaarthik opened #278 "RDD API review - new in 1.6.0"
Add new RDD APIs to SparkCLR
* http://spark.apache.org/docs/1.6.0/api/scala/index.html#org.apache.spark.rdd.RDD
* http://spark.apache.org/docs/1.6.0/api/scala/org/apache/spark/rdd/PairRDDFunctions.html
* http://spark.apache.org/docs/1.6.0/api/scala/org/apache/spark/rdd/DoubleRDDFunctions.html
* http://spark.apache.org/docs/1.6.0/api/scala/org/apache/spark/rdd/SequenceFileRDDFunctions.html

[2016-01-22 03:51] skaarthik opened #279 "DataFrame API review - new in 1.6.0"
Add new DataFrame APIs to SparkCLR
* http://spark.apache.org/docs/1.6.0/api/scala/index.html#org.apache.spark.sql.DataFrame
* http://spark.apache.org/docs/1.6.0/api/scala/org/apache/spark/sql/DataFrameNaFunctions.html
* http://spark.apache.org/docs/1.6.0/api/scala/org/apache/spark/sql/DataFrameReader.html
* http://spark.apache.org/docs/1.6.0/api/scala/org/apache/spark/sql/DataFrameStatFunctions.ht

[2016-01-22 03:53] skaarthik opened #280 "DStream API review - new in 1.6.0"
Add new DStream APIs to SparkCLR
* http://spark.apache.org/docs/1.6.0/api/scala/org/apache/spark/streaming/dstream/DStream.html
* http://spark.apache.org/docs/1.6.0/api/scala/org/apache/spark/streaming/dstream/PairDStreamFunctions.html
* http://spark.apache.org/docs/1.6.0/api/scala/org/apache/spark/streaming/dstream/MapWithStateDStream.html
* http://spark.apache.org/docs/1.6.0/api/scala/org/apache

[2016-01-22 04:00] skaarthik opened #281 "review SparkCLR for deprecated API in 1.6.0"
Review deprecated API at https://spark.apache.org/docs/1.6.0/api/java/deprecated-list.html and update SparkCLR API.

[2016-01-25 21:49] danielli90 commented on #275
The same script is under dev\scripts already. This copy under examples is redundant - should just be removed. Assigned to @tanviraumi

[2016-01-26 21:10] sehunley commented on #35
I am currently trying to run the samples for SparkCLR and the local samples from within the localmode folder works great.  However, when trying to execute the samples against my Spark server (cluster) using the sparkclr-submit.cmd script:

 I am getting the following error:
The system cannot find the path specified.
SPARKCLR_JAR=spark-clr_2.10-1.6.0-SNAPSHOT.jar
Error: Could not find or load main

[2016-01-26 21:12] sehunley opened #283 "Unable to run samples in standalone mode."
I am currently trying to run the samples for SparkCLR and the local samples from within the localmode folder works great.  However, when trying to execute the samples against my Spark server (cluster) using the sparkclr-submit.cmd script:

 I am getting the following error:
The system cannot find the path specified.
SPARKCLR_JAR=spark-clr_2.10-1.6.0-SNAPSHOT.jar
Error: Could not find or load main

[2016-01-26 21:30] skaarthik commented on #283
You also need to set SPARK_HOME environment variable in addition to JAVA_HOME and SPARKCLR_HOME. I guess SPARK_HOME is set in your case. Otherwise, you will get the error message from https://github.com/Microsoft/SparkCLR/blob/master/scripts/sparkclr-submit.cmd#L77.

Since the error is on SparkCLRSubmitArguments class, I think this is most likely due to incorrect value for SPARKCLR_CLASSPATH envir

[2016-01-26 22:01] sehunley commented on #283
That did find an issue with the SPARKCLR_HOME variable, it was not set correctly, causing the issue above.  However, now when I run, I am getting the following error:

You're right, I did get the error for the SPARK_HOME not being set:
[sparkclr-submit.cmd] Error - SPARK_HOME environment variable is not set
[sparkclr-submit.cmd] Note that SPARK_HOME environment variable should not have trailing \

[2016-01-26 22:15] sehunley commented on #283
Well, I pointed the SPARK_HOME to the C:Spark\SparkCLR-master\build\tools\spark-1.6.0-bin-hadoop2.6.  That seems to have solved the issue with the SPARK_HOME and the SPARKCLR_HOME variables.  However, when I tried the following command:

sparkclr-submit.cmd --verbose --master spark://spark01:7077 --exe SparkCLRSamples.exe  %SPARKCLR_HOME%\samples spark.local.dir %SPARKCLR_HOME%\Temp sparkclr.sampl

[2016-01-27 01:55] qintao1976 opened #284 "StreamingContextIpcProxy.DirectKafkaStream doesn't work in Spark 1.6.0"
In StreamingContextIpcProxy.DirectKafkaStream, it calls the following method in Java side:

org.apache.spark.streaming.kafka.KafkaUtilsPythonHelper.createDirectStream

But this method doesn't exist in Spark 1.6.0

[2016-01-27 18:43] #283 closed

[2016-01-27 20:58] sehunley opened #285 "Issue Running PI example on Linux Standalone Cluster"
I am able to run the samples locally, but when pointing to my Linux Cluster, I am unable to run the PI sample, as follows:

** Client Mode **
scripts\sparkclr-submit.cmd --proxy-user miadmin --total-executor-cores 2 --master spark://spark01:7077 --exe Pi.exe C:\MyData\Apache_Spark\SparkCLR-master\examples\pi\bin\Debug spark.local.dir %temp%

Getting the following error(s):
"C:\MyData\Apache_Spark\

[2016-01-27 23:18] skaarthik commented on #285
To have SparkCLR work with Spark deployed in a Linux cluster, a minor customization is required. It is covered in https://github.com/Microsoft/SparkCLR/blob/master/notes/linux-instructions.md#running-in-local-mode and https://github.com/Microsoft/SparkCLR/issues/155. I assume your Spark cluster does not have the "SparkCLR on Linux" patch (https://github.com/Microsoft/SparkCLR/blob/master/notes/Pyt

[2016-01-28 20:46] sehunley commented on #285
skaarthik,
   Is there a way to have the driver program on a windows machine, that utilizes a Linux Cluster for processing?  Would that be addressed by using Stand Alone mode with a deploy mode of cluster?

My client is a predominantly Microsoft shop and I need to integrate their current application to Spark and Hopefully SparkR.  Do you have any ideas on that?

- Thanks

[2016-01-30 01:38] skaarthik commented on #285
In standalone mode, the node from which jobs are submitted need to be collocated with the worker machines. I _**guess**_ it should be possible to have Spark cluster running different OS (as Spark is JVM-based) theorerically but it is an uncharted territory. You will probably not find any literature on that setup. SparkCLR does not add anything that will make this setup better or worse than what Sp

[2016-02-01 05:50] skaarthik opened #289 "examples folder in release zip does not have binaries"
The release zip file includes source files under "examples" folder. Source files need to be replaced with binaries that can be run directly without the need to build.

https://github.com/Microsoft/SparkCLR/releases/download/v1.5.200/spark-clr_2.10-1.5.200.zip

[2016-02-03 00:52] skaarthik opened #291 "incorrect folder name "run" in instructions"
https://github.com/Microsoft/SparkCLR/blob/master/notes/windows-instructions.md#instructions refer to a folder named "SparkCLR/run" incorrectly. It should be updated to "SparkCLR\build\runtime".

https://github.com/Microsoft/SparkCLR/blob/master/notes/linux-instructions.md also has this issue.

[2016-02-03 03:12] jayjaywg commented on #279
New Features of 1.6 which need actions:

- Session Management: https://issues.apache.org/jira/browse/SPARK-10810
Need to add new apis, newSession()

- Reading non-standard JSON files: https://issues.apache.org/jira/browse/SPARK-11745
Need to add comments of DataFrameReader.cs

New APIs:

 DataFrame:
- repartition(Column[] cols, int numPartitions = 0)
- sortWithinPartitions(string firstCol, params

[2016-02-03 09:35] tawan0109 opened #292 "Initialize Broadcast variables properly when SparkCLR restores from checkpoint"
When checkpoint is enabled and broadcast variables are also referenced in user code, SparkCLR fails to restore from checkpoint, and below exception is thrown. The root cause is that broadcast variables are not properly initialized before being referenced after restart.

<pre>
[2016-02-03 11:06:57,751] [1] [INFO ] [Microsoft.Spark.CSharp.Worker] - rddInfo: rddId 35, stageId 13, partitionId 1
[2016-

[2016-02-03 19:19] cyruszhang commented on #291
pull request completed.
https://github.com/Microsoft/SparkCLR/pull/293

[2016-02-04 15:10] #291 closed

[2016-02-05 01:32] skaarthik commented on #289
With https://github.com/Microsoft/SparkCLR/pull/294 example projects are built. Need to include them in "runtime" folder that will be used for release.

[2016-02-05 06:45] skaarthik opened #295 "review and improve documentation before M2 release"
There are some suggestions to improve documentation in the comments in
https://github.com/Microsoft/SparkCLR/pull/294. Need to address them.

[2016-02-13 00:36] skaarthik opened #302 "need functional tests (in samples proj) for DStream API"
Looks like some APIs are broken after upgrade to 1.6.0. Without functional validation we do not know what might be broken.

[2016-02-16 18:25] cyruszhang opened #304 "WorkerTest unit tests fail when using R# plugin with Visual Studio"
If using NUnit3 Adapter, then the unit tests will succeed.

The problem is that location specified by WorkerTest->CreateServer->Assembly.GetExecutingAssembly() does not have CSharpWorker.exe. Resharper initiates NUnit tests in a different dir than the NUnit Adapter.

Test initialization code should be dev tool agnostic and succeed whether we are using R# or not.

[2016-02-16 18:29] cyruszhang commented on #304
![image](https://cloud.githubusercontent.com/assets/2977989/13086468/36662c2e-d498-11e5-80f1-1ccbb7be6edd.png)

[2016-02-16 18:31] cyruszhang commented on #304
Assembly.GetExecutingAssembly() when using R#:
![image](https://cloud.githubusercontent.com/assets/2977989/13086519/67606ee8-d498-11e5-8e10-fa3e09f63a05.png)

[2016-02-16 21:02] jthelin commented on #304
Try turning off the "Shadow Copy" option in ReSharper unit test options.

ReSharper -> Options -> Tools -> Unit Testing

[ ] Shadow-copy assemblies being tested.

[2016-02-16 21:10] cyruszhang commented on #304
Yes, that works. A simple code change would make this problem go away as
well.

On Tue, Feb 16, 2016 at 1:02 PM, Jorgen Thelin <notifications@github.com>
wrote:

--
Cyrus, Yilei Zhang
+1 (312) 813 6818

[2016-02-16 23:21] skaarthik commented on #304
Thanks for fixing this issue, @cyruszhang

[2016-02-16 23:21] #304 closed

[2016-02-24 14:09] MRYingLEE opened #311 "Is it possible to use LINQ on Spark, especially on DataFrame by SparkCLR?"
I am new to SparkCLR. I found in the source code there are many references of "System.Linq" and a lot of IEnumerable<> methods.

So I am wondering the possibility to use LINQ on Spark, especially on DataFrame.

Can someone clarify?

Thank you in advance,

Ying

[2016-02-25 17:42] skaarthik commented on #311
Hi @MRYingLEE - LINQ is used in the SparkCLR implementation. However, the C# API available for DataFrame is consistent with the API in Scala/Java. You will not be able to do anything different in C# implementation of Spark driver.

Hope this helps. If this response did not address your question, please reopen the issue.

[2016-02-25 17:42] #311 closed

[2016-02-26 01:39] MRYingLEE commented on #311
Thank you to clarify.
Now I understand the current status. But I have further questions:

1. Is it possible to extend SparkCLR to support LINQ? And how much the workload?  At present I have a big concern that maybe LINQ cannot work on Spark due to "big" data. If it is not too difficult, I may try to do so.

2. Does Microsoft have a plan to do so in future?

Thank you in advance,

Ying

[2016-02-26 06:03] jayjaywg commented on #279
Done.

[2016-02-26 06:03] #279 closed

[2016-03-02 13:54] dsyme commented on #66
@skaarthik @jthelin Please feel free to get in touch with myself and David Stephens at Microsoft about this.

[2016-03-02 13:58] isaacabraham commented on #66
@skaarthik there are many cases where a C# API can be consumed by F# but as @TonyAbell rightly points out, it doesn't lead to idiomatic (or limited) F# (and occasionally won't work).

A good example of this is LINQ - whilst it works over F# sequences, lists etc. (which implement IEnumerable<T>), F# comes with its own collection libraries that have support for F# features such as partial function a

[2016-03-02 14:17] dsyme commented on #66
@isaacabraham @skaarthik  I'd be quite happy just to see F# samples properly supporting a Scala --> F# transition. I don't necessarily think this needs a new API.

Putting aside technical matters, it is very clear that most Scala programmers would consider F# their natural transition language on the .NET platform: F# has a huge amount of appeal to Scala programmers both in design and cultural aspe

[2016-03-02 15:04] isaacabraham commented on #66
@dsyme agreed - but it's highly likely that some wrapper functions etc. will naturally evolve to matter the experience more natural to the F# person, or perhaps DUs mapping to case classes etc..

[2016-03-02 15:08] dsyme commented on #66
@isaacabraham Yes, that's likely.  But I think the priority thing is to have good getting-started material and docs aimed at the F# programmer.  It would help if we just changed the README and docs to make it clear that F# programmers are welcomed and encouraged to use SparkCLR (likewise Scala/Spark programmers wanting to transition to F#/Spark).

[2016-03-06 19:40] johnisag opened #338 "SortByKey and TakeOrdered Incomplete Implementations"
Hello,

I am testing SparkCLR and try to reimplement a python Spark project with it.
I notice that SortByKey is not implemented both in current release version and 1.6 Preview.

Are there any plans for implementation?

Moreover, from what I can see in the implementation of the TakeOrdered, there is no provision of passing a function for the sorting like in python and scala.
e.g. python: indexedDat

[2016-03-07 07:50] skaarthik commented on #338
Hi @johnisag - I guess the team just forgot to implement SortByKey method in https://github.com/Microsoft/SparkCLR/blob/master/csharp/Adapter/Microsoft.Spark.CSharp/Core/OrderedRDDFunctions.cs#L44. If you are interested in contributing, please feel free to implement it and send a PR.

RE: TakeOrdered implementation, I like your suggestion of exposing keySelector. Feel free to add an overload for T

[2016-03-07 20:07] isaacabraham opened #340 "Replace KeyValuePair with Tuple"
Just noticed in the examples that KVP is used for many of the "pairs" - not just in the samples but within method signatures e.g. GroupBy. Perhaps these could (should?) be replaced with Tuples.
- Native support in F# already e.g.

[code]

becomes

[code]
- Next version of C# will probably have similar syntax. Even with C#6 the experience is nicer: -

[code]
- More importantly, Tuple is a well know

[2016-03-09 16:52] xiongrenyi commented on #338
I plan to put SortByKey at the bottom of my list targeting April, but anyone are welcome to take over at anytime

Thanks

[2016-03-11 03:23] guiling commented on #155
Kai has confirmed with  our multi-threading approach is viable.The reason they used a multi-processing approach because python does not have a good threading support.

so maybe we need merge this work item with Tao Qin's performance improvement item

[2016-03-17 07:49] vasily-kirichenko commented on #340
:+1:

[2016-03-17 10:41] isaacabraham commented on #340
Could someone just give high-level opinion on this change? I'd be happy to make this change myself, it's hopefully just a boilerplate menial change - but there's no point my spending time on it if there's no agreement that it has value.

[2016-03-17 11:04] vasily-kirichenko commented on #340
If that `KeyValuePair'2` is a struct, then we should not replace it with `Tuple'2`, because it's a referential type.

[2016-03-17 11:23] isaacabraham commented on #340
Why?

[2016-03-17 11:25] vasily-kirichenko commented on #340
performance

[2016-03-17 11:35] isaacabraham commented on #340
premature optimization? :-)

[2016-03-17 11:51] vasily-kirichenko commented on #340
As it seems to be created on each data piece (line, record, whatever), there will be very large number of unnecessary allocation.

[2016-03-17 12:36] isaacabraham commented on #340
I'm thinking the cost of GC allocation would probably be massively outweighed by the IO costs normally associated with a distributed data application like Spark. At least in work I've done before, that's been the case.
________________________________
From: Vasily Kirichenko<mailto:notifications@github.com>
Sent: ‎17/‎03/‎2016 11:51
To: Microsoft/Mobius<mailto:Mobius@noreply.github.com>
Cc: Isaac

[2016-03-17 17:32] skaarthik commented on #340
Replacing KVP with Tuple will achieve conceptual parity with scala and make the code a bit less verbose as @isaacabraham has pointed out but the performance/memory implications may not be worth it as called out by @vasily-kirichenko. With the worker implementation getting multithreaded (https://github.com/Microsoft/Mobius/pull/349) we need to be careful with every bit of overhead especially in str

[2016-03-18 00:21] isaacabraham commented on #340
@skaarthik OK - what sort of performance and memory metrics would you like to see to validate this?

[2016-03-18 17:44] skaarthik commented on #340
Thanks @isaacabraham.
Mobius perf suite can be used for validating if the memory usage and run time are comparable. Check out RunRDDMaxDeletionsByUser perf test @ https://github.com/Microsoft/Mobius/blob/master/csharp/Perf/Microsoft.Spark.CSharp/FreebaseDeletionsBenchmark.cs#L47. It uses KVP and ReduceByKey.

Once the PR is ready I can also perform the validation using a streaming workload we have

[2016-03-19 00:42] cschrammel opened #350 "SaveAsTable for Hive"
The documentation mentions that SaveAsTable "only works with DataFrames that are created from a HiveContext".  Is there any way to create a HiveContext using Mobius?

[2016-03-21 10:45] jayjaywg commented on #350
Hi @cschrammel - The team didn't implement HiveContext so currently it's not supported. We'll implement it before our next release and also back port it to branch 1.5.

[2016-03-21 17:09] #277 closed

[2016-03-21 17:51] skaarthik opened #354 "Dataset support in Mobius"

[2016-03-22 01:10] jayjaywg commented on #338
Merged with PR #353

[2016-04-05 02:34] skaarthik commented on #354
Dataset support to be added after upgrading to Spark 2.0

[2016-04-05 02:48] skaarthik commented on #267
https://github.com/Microsoft/Mobius/pull/368 added the example

[2016-04-05 02:48] #267 closed

[2016-04-05 07:28] skaarthik commented on #284
Fixed in https://github.com/Microsoft/Mobius/commit/db13e20118898f3c029655df0121370e16265ac0

[2016-04-05 07:28] #284 closed

[2016-04-05 23:01] xiongrenyi commented on #278
1. The only new API I see by comparing with 1.5 is experimental combineByKeyWithClassTag API which has an extra implicit parameter ct:ClassTag[C] compared to existing combineByKey API. this doesn't seem to be applicable to C#?

2. Experimental tag removed from approximate count APIs

https://github.com/apache/spark/commit/6f81eae24f83df51a99d4bb2629dd7daadc01519

python still marked as experimenta

[2016-04-06 02:43] skaarthik commented on #281
Thanks to @adamante and his contribution https://github.com/Microsoft/Mobius/issues/312

Reviewed https://spark.apache.org/docs/1.6.1/api/java/deprecated-list.html also and confirmed that no other changes are needed to address deprecation in 1.6.0 and 1.6.1

[2016-04-06 02:43] #281 closed

[2016-04-06 03:28] skaarthik opened #374 "make non-uber sparkclr jar available in released bits"

[2016-04-07 06:13] skaarthik commented on #275
Thanks @tanviraumi

[2016-04-07 06:13] #275 closed

[2016-04-11 03:17] jayjaywg commented on #350
Merged to master branch with #380

[2016-04-11 03:17] #350 closed

[2016-04-13 01:18] jayjaywg commented on #338
TakeOrdered with additional parameter keyFunc is merged #382

[2016-04-13 01:18] #338 closed

[2016-04-13 02:19] cschrammel commented on #350
Thank you!!!

[2016-04-13 02:51] tawan0109 opened #383 "RDD.TakeOrdered(num) and Top(num) can't handle large volume data"
Current implementation is based on `IEnumerable.OrderBy()` and `IEnumerable.OrderByDescending()`, which sort all data in memory, it's difficult to handle large volume data that too large to be loaded into memory. Also for Top N operation, sorting is not necessary. Suggest to follow the way of Spark implementation, which uses `PriorityQueue`.

[2016-04-18 09:59] tawan0109 commented on #280
`MapWithStateDStream` has already been supported in Mobius.
https://github.com/Microsoft/Mobius/blob/master/csharp/Samples/Microsoft.Spark.CSharp/DStreamStateSample.cs#L49

[2016-04-19 01:27] tawan0109 commented on #280
`ConstantInputDStream` now is also supported by https://github.com/Microsoft/Mobius/commit/f6777a3098a2af31f57bdb970f80af57232ddac4

[2016-04-19 04:57] skaarthik commented on #48
Closing due to inactivity in this issue

[2016-04-19 04:57] #48 closed

[2016-04-19 04:57] #155 closed

[2016-04-19 04:59] #105 closed

[2016-04-19 05:01] skaarthik commented on #102
@mkinoti - are you planning to work on this?

[2016-04-19 05:02] skaarthik commented on #278
@xiongrenyi can this be closed?

[2016-04-19 05:03] skaarthik commented on #285
Closing due to inactivity. Please reopen if needed.

[2016-04-19 05:18] skaarthik opened #391 "instruction for running samples in YARN mode"
Need instructions to run samples in YARN at
https://github.com/Microsoft/Mobius/blob/master/notes/running-mobius-app.md#yarn-cluster similiar to instructions for [Standalone](https://github.com/Microsoft/Mobius/blob/master/notes/running-mobius-app.md#standalone-cluster) and [local](https://github.com/Microsoft/Mobius/blob/master/notes/running-mobius-app.md#local-mode) modes

[2016-04-19 05:35] xiongrenyi commented on #278
yes

[2016-04-19 05:35] #278 closed

[2016-04-19 09:29] tawan0109 commented on #280
Except `MapWithStateDStream` and `ConstantInputDStream`, no other changes are found in
* http://spark.apache.org/docs/1.6.0/api/scala/org/apache/spark/streaming/dstream/DStream.html
* http://spark.apache.org/docs/1.6.0/api/scala/org/apache/spark/streaming/dstream/PairDStreamFunctions.html

[2016-04-19 09:29] #280 closed

[2016-04-19 20:49] skaarthik commented on #274
@hebinhuang - looks like the following files still have lots of blocks missing CC. Are they hard to cover or not important?

- https://codecov.io/github/Microsoft/Mobius/csharp/Adapter/Microsoft.Spark.CSharp/Sql/DataFrameNaFunctions.cs?ref=702d6d624f436da0a51a37315d455b38fbc234f8
- https://codecov.io/github/Microsoft/Mobius/csharp/Adapter/Microsoft.Spark.CSharp/Sql/Types.cs?ref=702d6d624f436da0a51

[2016-04-19 20:52] skaarthik commented on #274
and this as well...https://codecov.io/github/Microsoft/Mobius/csharp/Adapter/Microsoft.Spark.CSharp/Sql/DataFrame.cs?ref=702d6d624f436da0a51a37315d455b38fbc234f8

[2016-04-20 11:46] hebinhuang commented on #274
There is a part 2 to cover these files - see https://github.com/Microsoft/Mobius/pull/395
Columns.cs,DataFrame.cs,Types.cs,DataFrameNaFunctions.cs,Functions.cs

[2016-04-20 19:15] skaarthik commented on #102
Removing the assignee due to inactivity

[2016-04-20 21:32] isaacabraham opened #396 "Can't connect to a TextFile in localmode"
I'm just looking at doing a basic word count in Mobius. When running in LocalMode, when I call ``Collect()`` on a TextFile, it gives the following error: -

```JVM method execution failed: Nonstatic method partitions failed for class 8 when called with no parameters```

with stack trace

[code]

[2016-04-20 21:34] isaacabraham opened #397 "sparkclr-submit debug only works once"
If you call ``SparkCLR-submit.cmd debug``, and then connect using a client application, if that client application crashes, you can't reconnect to the debug hosted Spark. You have to stop it and then start it again, and then update your app.config file with the newly allocated port number. This is extremely frustrating.

[2016-04-20 22:02] skaarthik commented on #397
The lifetime of sparkclr-submit is just for one Mobius app (i.e. launching JVM once). C# driver needs the port number from the JVM and hence app.config needs be updated every time the port number changes.

@isaacabraham - any suggestions on how the debug experience could be improved given these constraints?

[2016-04-20 22:10] skaarthik commented on #396
Any valid HDFS path or local path as URI "file:///C:/folder/file.txt" should work.

Error message needs improvement - we will look into that.

[2016-04-20 22:16] isaacabraham commented on #397
Given that restriction I would probably just run all this from the command line for testing and debug as rarely as possible :-/ I'm not sure how to get around this though - I'll have a think.

[2016-04-20 22:16] isaacabraham commented on #397
Where will HDFS be pointing to by default?

[2016-04-20 22:17] isaacabraham commented on #396
Where will HDFS point to by default?

[2016-04-20 22:19] isaacabraham commented on #396
Now I get the following error: -

```JVM method execution failed: Static method collectAndServe failed for class org.apache.spark.api.python.PythonRDD when called with 1 parameters ([Index=1, Type=JvmObjectReference, Value=28], )```

[2016-04-20 23:02] isaacabraham commented on #340
Is there a reason for so little use of var in the codebase? Even though C# has somewhat limited type inference, even using that a little more would help with both readability and refactoring. I've been looking into this briefly this evening and it's been an absolute pain to replace the types on both sides of the equals.

[2016-04-20 23:36] isaacabraham commented on #397
Is it possible to hard-code the port that spark uses?

[2016-04-21 00:56] #274 closed

[2016-04-21 00:58] tawan0109 commented on #391
This issue has been addressed by #394

[2016-04-21 00:58] #391 closed

[2016-04-21 04:57] hebinhuang commented on #289
Checked in #400

[2016-04-21 05:15] vasily-kirichenko commented on #340
I'm sure it can be done in one click with ReSharper.

[2016-04-21 05:56] skaarthik commented on #276
PR #398

[2016-04-21 05:56] #276 closed

[2016-04-21 06:23] skaarthik opened #402 "add Hive example"

[2016-04-21 06:29] skaarthik commented on #289
@hebinhuang - the latest release https://github.com/Microsoft/Mobius/releases/tag/v1.6.100-PREVIEW-1 does not seem to have example binaries. Can you take a look? You can refer to the logs of build 1.6.1-SNAPSHOT.685 in AppVeyor to troubleshoot.

[2016-04-21 07:03] skaarthik commented on #397
It is possible but we do not want to reserve any port exclusively for Mobius. Dynamic port allocation is better.

[2016-04-21 07:06] skaarthik commented on #396
There is no default HDFS in Mobius. The path provided in the example should be fully qualified and accessible from the machine on which the example is run.

If you are running in debug mode, you can see the error message in JVM in the console output and figure out what's going on.

[2016-04-21 11:43] hebinhuang commented on #289
It caused by the failure of compiling Examples.

HdfsWordCount -> C:\projects\sparkclr\examples\Streaming\HdfsWordCount\bin\Debug\SparkClrHdfsWordCount.exe
 1204C:\windows\Microsoft.NET\Framework\v4.0.30319\Microsoft.Common.targets(1605,5): warning MSB3245: Could not resolve this reference. Could not locate the assembly "CSharpWorker". Check to make sure the assembly exists on disk. If this refere

[2016-04-21 12:14] #289 closed

[2016-04-21 15:56] isaacabraham commented on #397
Of course. I was referring to be able to set it in a config file or supply as an argument.

[2016-04-21 15:57] isaacabraham commented on #396
I was using file:/// as shown above - the error is shown there.

[2016-04-21 20:28] isaacabraham commented on #396
Here's a more detailed error.

[code]

[2016-04-21 21:04] isaacabraham commented on #340
@vasily-kirichenko or maybe a few "one click" :-)

[2016-04-21 23:43] skaarthik commented on #396
I guess the error is because the anti-virus software in your machine kills your word count exe when it is downloaded by spark to the default temp folder in windows (thinking it is a malicious exe).

Try explicitly setting "--conf spark.local.dir=C:\temp\sparktemp" when you launch your job. The error will go away if my guess is correct. If you do not want to tinker with the submit script to use thi

[2016-04-22 00:29] isaacabraham commented on #396
I don't have any special AV software. Just the built in Windows 10 defender. I would suggest that it might be worth your trying to look a bit deeper into this problem - if I have it (stock Windows 10 PC really) I would suggest other people will as well...

[2016-04-22 00:31] isaacabraham opened #408 "Use a proper build scripting language"
The build scripts are complicated and difficult to understand. Using a dedicated build language like FAKE will help alleviate a lot of that.

[2016-04-22 00:35] isaacabraham commented on #396
And that --conf setting didn't help - sorry.

[2016-04-22 01:10] skaarthik commented on #396
Hmm...would you be able to try out the example in localmode and confirm if you see the same error?

[2016-04-22 01:14] skaarthik commented on #397
Writing to the configuration file is a good idea. In other modes, an environment variable is used. Debug mode is not a common way to launch the app. That's why it has not received much attention on usability.

[2016-04-22 04:52] vasily-kirichenko commented on #340
@isaacabraham R# can apply any refactoring to the whole file, project and even solution.

[2016-04-25 04:19] #374 closed

[2016-04-25 20:11] #402 closed

[2016-04-25 20:11] #295 closed

[2016-04-25 23:34] isaacabraham commented on #396
OK - what do I need to do to get "local mode" working?

[2016-04-25 23:34] isaacabraham commented on #397
How do people launch an application normally? Just command line?

[2016-04-25 23:57] skaarthik commented on #396
https://github.com/Microsoft/Mobius#getting-started in ReadMe file has the link to instructions for running examples in localmode

[2016-04-25 23:58] skaarthik commented on #397
Yes - using SparkCLR-submit.cmd

[2016-04-26 05:16] hebinhuang commented on #75
All, I would like to close this issue, because @kai-zeng already checked in the NUnit and used NUnit.Assert in our tests.

Here are the comparison of exception output for NFluent, FluentAssertions, and NUnit.Assert. NUnit.Assert is enough in our test. I will close the issue by tomorrow afternoon, please let me know if you have any concerns or suggestions before tomorrow afternoon.

NFluent.FluentC

[2016-04-27 01:28] qintao1976 commented on #292
This issue has been solved by commit eb63a7a649bdd88e21016168d3fca4499e4dd439.
Thanks

[2016-04-27 01:28] #292 closed

[2016-04-27 18:47] #75 closed

[2016-04-30 17:37] anujk0292 commented on #397
Spark Job Server is another option which does all the heavy lifting for you.

[2016-05-01 06:24] isaacabraham commented on #397
From a development workflow, it's a far more productive easy to develop when you can simply run and debug from within the IDE. I'd strongly suggest giving this feature a better story.

[2016-05-01 10:45] anujk0292 commented on #397
IntelliJ supports job written in Scala as well its debugging. Don't know what level of support is offered by VS.

[2016-05-01 11:42] isaacabraham commented on #397
Hmmm? VS has a debugger. It works with .NET. Just need to make the process ab it smoother for Mobius without needing to set configuration every time you run a job.

[2016-05-02 05:13] skaarthik commented on #397
The steps to debug a Mobius app are straightforward. It would be nice to reduce the steps but considering the ROI I doubt that it will be prioritized in the project. PR is welcome to improve the debug experience.

[2016-05-02 07:14] isaacabraham commented on #397
Debugging experience for complex data-driven workloads does not have a large ROI? Interesting.

[2016-05-02 07:18] forki commented on #397
@isaacabraham Debugging is low-prio, tells you a lot ;-)

[2016-05-02 07:26] anujk0292 commented on #397
" considering the ROI", I have been developing mid size spark application
with scala, and believe me debugging has eased the development a lot.
Debugging should be given high priority.

On Mon, May 2, 2016 at 12:48 PM, Steffen Forkmann <notifications@github.com>
wrote:

[2016-05-02 07:33] isaacabraham commented on #397
@skaarthik I can tell you this now - I would not consider using Spark / Mobius if the recommended development experience was "compile your app. go to console. launch spark. run application. check output files or console log to see if it worked". I suspect you'll find the same for many other developers as well.

[2016-05-02 08:01] forki commented on #66
You want to play in Scala league, right? All the Scala people I know would not go back to C#.

[2016-05-02 22:21] skaarthik commented on #397
This issue is not about whether to support debugging in Mobius or not. Debugging is obviously very important and it is currently supported. The improvement requested in this issue is to make the debugging experience better. As stated earlier, it would be nice if that could be done but here is some more context on the ROI.

When we talk about debugging a Mobius app, that usually means debugging the

[2016-05-02 22:54] skaarthik commented on #66
I don't believe developers who use Scala for Spark app development would give up Scala and adopt Mobius just because it has F# API.

My personal opinion is that the goal of Mobius is to enable .NET developers build Spark apps without having to invest in Scala or other languages supported in Spark. C# being the most popular language in .NET development (AFAIK) became the pragmatic choice for the .N

[2016-05-03 07:43] isaacabraham commented on #66
@skaarthik you're right, no-one wants this to be a religious debate. it's about exposing Mobius to as many developers as possible; this includes existing C# and F# developers as well potentially in the CoreCLR world other language developers on non-Windows OSes that wish to use .NET.

I think a C# wrapper in F# might well be sufficient for many use cases, but perhaps a good starting might be to re

[2016-05-04 21:23] skaarthik opened #437 "Upgrade to Spark 2.0"
..after it is released

[2016-05-04 23:06] slyons commented on #66
In my off time I started piecing together a custom query expression builder that leverages the existing C# api and just makes it more F# friendly. F# is very popular amongst data science and financial developers and it would be useful to at least have it as an option. The query expression syntax works well with Spark's lazy evaluation.

    let rdd = sparkContext.Parallelize(seq {0 .. 100})

[2016-05-04 23:26] skaarthik commented on #66
@slyons - sounds great.

There have been discussions but currently Mobius does not have a REPL experience. Having REPL experience for Mobius using F# would be awesome.

[2016-05-04 23:26] skaarthik commented on #66
@isaacabraham - added my comments to your PR for Tuple support

[2016-05-05 00:17] skaarthik commented on #123
@ohwang suggestion added to the script.

[2016-05-05 00:17] #123 closed

[2016-05-05 00:18] skaarthik commented on #212
@hebinhuang improved code documentation in M2. Closing this for now. If more improvements are needed, we could open new issues to track specific work items.

[2016-05-05 00:18] #212 closed

[2016-05-05 00:23] skaarthik commented on #396
I tested https://github.com/Microsoft/Mobius/pull/406 using input path in the formats "hdfs://path/to/file"  and "file:///C:/folder/file.txt" and it worked. Closing this issue. Reopen if needed.

[2016-05-05 00:23] #396 closed

[2016-05-06 00:39] skaarthik opened #438 "Add support for metrics collection"

[2016-05-06 00:40] skaarthik opened #439 "Improve JvmObjectTracker for long running jobs"

[2016-05-06 18:19] HankG commented on #285
I'm seeing a similar issue when trying to run the same program on a standalone cluster.  The patch you listed now goes to a 404 error.  Has that patch been applied to the standard 1.6.1 distribution?  For the record, I'm compiling and running all on Linux for both my development machine and my cluster machine.

[2016-05-06 18:31] skaarthik commented on #285
@HankG The patch needed to use Mobius with Spark in Linux is no longer needed. [Mobius release 1.6.100](https://github.com/Microsoft/Mobius/releases/tag/v1.6.100) includes changes to CSharpWorker that obviates the need for the patch to make Mobius work in Linux.

The previous release of Mobius [1.5.200](https://github.com/Microsoft/Mobius/releases/tag/v1.5.200) needs the patch and you can find it

[2016-05-06 22:25] xiongrenyi opened #440 "JVM side MockKafkaRDD for streaming API functional test"
embedded Kafka is a better option, but unfortunately not really working on Windows yet

[2016-05-08 13:51] HankG commented on #285
No, this is on a standalone cluster that I launch on my development box.

[2016-05-09 13:42] HankG opened #441 "fsharp "word count" example broke the build in Linux"
I am building a fresh Linux Mint VM for trying to get standalone cluster Spark/Mobius working.  After a checkout, pulling down Maven,Nuget and xsltproc from the standard repository and Mono and Java8 from their respective vendor repositories I get a build error when I run build/build.sh.  Rolling back one revision fixed it.  The error is in the WordCount demo which is consistent with that check in

[2016-05-09 18:19] skaarthik commented on #441
Can you share details on the build error? CI builds in Travis on Ubuntu work just fine.

[2016-05-09 18:21] skaarthik commented on #285
@kai-zeng will look into this issue. Thanks @kai-zeng

[2016-05-09 21:39] HankG commented on #285
K.  I'm trying another round of tests on a new VM to make sure I don't have something wonky with my configuration too...

[2016-05-09 21:45] HankG commented on #441
Below is the output from the end of the build step when it tries to build Examples.sln:

[code]

[2016-05-09 22:55] skaarthik commented on #441
Option no.1 in http://fsharp.org/use/linux indicates fsharp need to be explicitly installed along with Mono. Maybe you could try that. I do not know why Linux distribution used in Travis did not need any package in addition to Mono. It is possible that it is available by default in the Travis machines.

If installing fsharp package does not help, the next step is to try removing &lt;choose&gt; & &

[2016-05-10 01:29] HankG commented on #441
Will give it a shot and let you know...

[2016-05-10 11:57] HankG commented on #441
Yes that worked.  I didn't realize F# wasn't installed when you did mono-complete.

[2016-05-10 12:37] HankG commented on #285
I'm getting the same problem on the new VM.  For this case I'm using the spark that Mobius pulls down and starting a master and slave on the same machine I run local.  I believe the exception is misleading.  Looking at the work folder the CSharpWorker.exe is definitely present however the execute privileges don't exist on it. I would imagine that it is either the CSharpWorker.exe pulled from examp

[2016-05-10 17:48] skaarthik commented on #441
Thanks for trying it out @HankG If you are interested, please feel free to send a PR with updates to the Linux instructions at https://github.com/Microsoft/Mobius/blob/master/notes/linux-instructions.md#prerequisites

[2016-05-11 11:53] HankG commented on #441
Done. Thanks for the help!

[2016-05-11 11:53] #441 closed

[2016-05-12 07:32] kai-zeng commented on #285
I investigated this issue. There are two causes for it:
1. The working directory when launching C# workers is not set properly to the spark worker directory, so that we cannot find CSparkWorker.exe
2. When C# dependencies got unziped, CSparkWorker.exe does not have executable permission.

I will push a PR to fix this.

[2016-05-12 13:38] kasuosuo commented on #276
Hi skaarthik,

When I was trying to run the streaming Sample SparkClrHdfsWordCount with the following command:

.\sparkclr-submit.cmd --master local[*] --exe SparkClrHdfsWordCount.exe C:\Users\dacai\Mobius\examples\Streaming\HdfsWordCount\bin\Release  C:\Users\dacai\Mobius\cp\ C:\Users\dacai\Mobius\dacaiTemp

I can't see the output format in the cmd console:
                    wordCounts.ForeachR

[2016-05-12 16:21] earthdrawn opened #447 "Test failure on Spark cluster in Azure - Zip&unzip files with sub folders"
I am trying to build the v1.6.100 release of Mobius on a Spark cluster in Azure HDInsight. I'm fairly new to Mobius and Spark so I might as well mention I'm building Mobius on the head node in my cluster.  My ultimate goal is to submit my Mobius application to Spark in cluster mode using YARN.

In my head node with an out-of-the-box Spark cluster from Azure,

`$ lsb_release -a`

`$ java -version`

[2016-05-13 03:42] hebinhuang commented on #276
@kasuosuo
I do see the results from Console. Please make sure all Pre-Requisites are set correctly. and the Input Directory (c:\users\dacai\Mobius\dacaiTemp) has files, the checkpoint directory (c:\users\dacai\Mobius\cp\) has not been created before you start to run.
![image](https://cloud.githubusercontent.com/assets/17152782/15237205/96c24b76-1880-11e6-8482-1dd73b2aa8f3.png)

[2016-05-13 04:14] kasuosuo commented on #276
Thanks for your comments @hebinhuang .

Yes, I have checked :
     1. c:\users\dacai\Mobius\dacaiTemp has files
     2. c:\users\dacai\Mobius\cp has not been created before start the local job.
I still can not see the output, and the console stuck here：
![image](https://cloud.githubusercontent.com/assets/10734523/15237790/23be0208-1904-11e6-8449-b6333f3d17ae.png)

For all Pre-Requisites you mentio

[2016-05-13 05:07] kasuosuo commented on #276
And randomly, I encountered following error:
![image](https://cloud.githubusercontent.com/assets/10734523/15238545/a305d804-190b-11e6-9a52-2a09708cad90.png)

[2016-05-13 05:40] hebinhuang commented on #276
Pre-Requisites:
https://github.com/Microsoft/Mobius/blob/master/notes/running-mobius-app.md#wordcount-example-batch

Can you pipe out the console text ?

[2016-05-13 06:55] kasuosuo commented on #276
Sure. I downloaded the release version and test the streaming example again, also the same error.

PS C:\Windows\system32> sparkclr-submit.cmd --master local[4] --conf spark.local.dir=E:\sparktemp\wordcount\ --exe Spark
ClrHdfsWordCount.exe E:\Java\OpenSourceSoftware\spark-clr_2.10-1.6.100\examples\Streaming\HdfsWordCount E:\sparktemp\cp\
 C:\Users\dacai\Mobius\dacaiTemp\  >E:\sparktemp\log.txt

l

[2016-05-13 08:05] tawan0109 commented on #447
Tried to build [v1.6.100](https://github.com/Microsoft/Mobius/releases/tag/v1.6.100) on a Ubuntu VM and failed to reproduce this issue.
`$ lsb_release -a`

`$ java -version`

`$ ./build.sh`

Pleas note that after released there should be no changes if you get the release from https://github.com/Microsoft/Mobius/releases/tag/v1.6.100, my suggestion is to add some logs to the failed unit test and `U

[2016-05-13 16:33] hebinhuang commented on #276
@kasuosuo Please try command the below:
sparkclr-submit.cmd --master local[*] --exe SparkClrHdfsWordCount.exe E:\Java\OpenSourceSoftware\spark-clr_2.10-1.6.100\examples\Streaming\HdfsWordCount  E:\sparktemp\cp C:\Users\dacai\Mobius\dacaiTemp  1> 1.txt  2>2.txt

[2016-05-14 17:27] cschrammel opened #450 "Issue Running HiveDataFrame Example"
I'm trying to run the HiveDataFrame example but am getting the following error when trying to create a HiveContext.  I'm running with spark-1.6.1-bin-hadoop2.6.

Thanks

16/05/14 12:15:27 WARN HiveMetaStore: Retrying creating default database after error: Class org.datanucleus.api.jdo.JDOPersistenceManagerFactory was not found.
javax.jdo.JDOFatalUserException: Class org.datanucleus.api.jdo.JDOPers

[2016-05-16 22:04] skaarthik commented on #450
Try including the following jars when you submit your app:
* datanucleus-api-jdo-3.2.6
* datanucleus-core-3.2.10
* datanucleus-rdbms-3.2.9

[2016-05-17 02:05] qualiu commented on #450
@cschrammel : Can you give some more detail context ?
1) local mode ? standalone? cluster ?
2) running command lines/shell.
3) on Windows or Linux?

[2016-05-17 18:45] slyons opened #452 "Return CSharpBackend code 126 on OSX"
When I try to run the samples on OSX I get the following error:

[code]

The build works and all unit tests work, but I can't seem to run samples or any custom code on Mobius.

[2016-05-17 19:08] cschrammel commented on #450
I'm running in debug mode (local) in a shell on Windows.

I set the environment variable SPARKCLR_DEBUGMODE_EXT_JARS to a semicolon-delimited list of those 3 jar files, and it works now!

Thank you!

[2016-05-17 19:28] kai-zeng commented on #285
Created a PR #453 for this issue. The PR mainly contains two fixes:
1. Fix CSharpWorker path, by adding "./"
2. Preserve file permissions when doing zip & unzip dependencies

[2016-05-17 19:33] kai-zeng commented on #285
BTW, CSharpWorker.exe downloaded from nuget does not have executable permission on Linux. We need to fix this @skaarthik

[2016-05-18 18:45] ErikApption opened #455 "Exit code 255 with Mobius in yarn mode"
We have been able to deploy and run Mobius on HDP 2.4. Everything works fine in local mode but when we try yarn mode we get the following error. The application log has no other details

[code]

[2016-05-18 22:47] skaarthik commented on #450
@qualiu - please update the documentation to run the Hive example and close the issue

[2016-05-18 23:04] skaarthik commented on #452
@slyons - from the log above I see that you are passing "debug" as the command line parameter to "run-samples.sh". "debug" parameter is supported only in sparkclr-submit.sh for [debug mode execution](https://github.com/Microsoft/Mobius/blob/master/notes/running-mobius-app.md#debug-mode). Try running just one sample first using "run-samples.sh --torun pi* --verbose"

[2016-05-18 23:06] hebinhuang opened #456 "Use Registered IO + IOCP in C# Worker/Driver"
We noticed that the performance of JAVA socket's receive is faster than .NET socket's, even both them is to call Windows Socket API. Currently, We just simply/directly use Socket class to receive/send data in C# Worker/Driver. So it is better to change it to improve the performance of the traffic between JVM and CLR.

Microsoft Windows 8 and Windows Server 2012 introduce new Windows Socket program

[2016-05-18 23:08] hebinhuang commented on #456
Here is very simple comparison of Java socket and C# socket.
![image](https://cloud.githubusercontent.com/assets/17152782/15377733/becfd0e8-1d12-11e6-8d1f-d38490e32d2f.png)

![image](https://cloud.githubusercontent.com/assets/17152782/15377745/d1f2ef2a-1d12-11e6-846f-200a1d504f0f.png)

[2016-05-18 23:11] skaarthik commented on #450
@cschrammel - if  you are interested in contributing updates to the documentation at https://github.com/Microsoft/Mobius/blob/master/notes/running-mobius-app.md#hive-example-sql, please feel free to send a PR

[2016-05-18 23:46] skaarthik commented on #455
@ErikApption are you trying to run Mobius samples/examples?

[2016-05-19 00:36] slyons commented on #452
I'll give that a try, but keep in mind this was done through the run
samples script.
On May 18, 2016 16:04, "Kaarthik Sivashanmugam" <notifications@github.com>
wrote:

[2016-05-19 01:12] skaarthik commented on #452
Did you just run run-samples.sh without any arguments?

[2016-05-19 02:20] slyons commented on #452
That's all I did.
On May 18, 2016 18:12, "Kaarthik Sivashanmugam" <notifications@github.com>
wrote:

[2016-05-19 04:12] skaarthik commented on #455
What is your HDP environment - Linux or Windows?

[2016-05-19 13:49] ErikApption commented on #455
This is HDP+Linux (centos 7). We are running our own Mobius code that queries Phoenix and Hive. We will try the built-in examples and see if we can reproduce the issue.

[2016-05-19 14:07] ErikApption commented on #455
I can confirm that we have the same error with the wordcount example

[2016-05-19 17:21] skaarthik commented on #455
@ErikApption - I assume you are just following instructions at https://github.com/Microsoft/Mobius/blob/master/notes/running-mobius-app.md#linux-instructions to run wordcound example. If you are doing something different, can you share the command you are using to run the example?

@qualiu - you have used Mobius in CentOS. You observed the need add "mono" prefix when passing the executable argumen

[2016-05-19 17:32] ErikApption commented on #455
I can confirm that we are following the instructions from the wordcount example. Also we have not been able to prefix with "mono"

We are using:
`sparkclr-submit.sh --exe Program.sh.exe /path/to/program.exe/parent/dir`

where Program.sh.exe is in the same directory as Program.exe and contains:

[code]

[2016-05-19 18:52] slyons commented on #452
Here's all I did to repro the problem:

[code]

[2016-05-20 01:47] qualiu commented on #455
@ErikApption  @skaarthik
I just modify 1 script : adding 1 line into Mobius/build/runtime/scripts/sparkclr-submit.sh
export SPARK_ARGS=$(echo "$SPARK_ARGS" | sed 's/\(\S\+\.exe\s\+\)/mono \1/ig')

This can solve  lack of "mono" before exe on CentOS.
And needless to modify each program ( to add an extra shell).

But probably this still not the best solution, and the best solution could be register

[2016-05-20 04:05] skaarthik commented on #397
Closing the issue due to inactivity. Please reopen if needed.

[2016-05-20 04:05] #397 closed

[2016-05-20 12:26] isaacabraham commented on #397
Please don't close this - the debug mode is important. even if you don't want to fix this now, it's still an issue.

[2016-05-23 04:19] skaarthik commented on #285
I have verified that https://github.com/Microsoft/Mobius/commit/e35a903155d154f8cbf025a5c4044ad8a49f0de4 from @kai-zeng fixed this issue in running Mobius in Linux standalone cluster.

[2016-05-23 04:25] skaarthik commented on #456
@hebinhuang ensure that the cross-platform support is not impacted with this Windows-only perf improvement.

[2016-05-23 04:27] skaarthik commented on #450
@cschrammel - would be interested in sending PR for the doc update? If not, @qualiu will take it up.

[2016-05-23 04:28] skaarthik commented on #302
@xiongrenyi is working on this.

[2016-05-23 22:16] skaarthik commented on #455
@ErikApption - are you able to run a scala Spark application in this setup? (just making sure that you are getting the error above only when Mobius is used)

Do you see any error message related to Mobius in YARN resource-manager logs?

A fix (https://github.com/Microsoft/Mobius/commit/e35a903155d154f8cbf025a5c4044ad8a49f0de4) to using Mobius in Linux was pushed to the repo last week. Would you mi

[2016-05-24 01:12] qualiu commented on #455
@ErikApption + @skaarthik  I found a solution for running C# exe on CentOS 7 yesterday:
Just run one command : **echo ':CLR:M::MZ::/usr/bin/mono:' > /proc/sys/fs/binfmt_misc/register**
**But Please first check the path exists** : ls /proc/sys/fs/binfmt_misc/register
Then you can run ./CSharpExe directly and needless to type prefix "mono ./CSharpExe" or create an extra shell.

[2016-05-24 23:54] josephwinston commented on #452
I thought that on OS X, you needed to use mono to execute the application <http://stackoverflow.com/a/3385772>

[2016-05-25 00:51] skaarthik opened #460 "failure when submitting Mobius app from Windows client to Spark cluster in Linux"
Two issues that need to be fixed:
* Paths.get() implementation is Java is OS-specific. So we need an extra configuration parameter to indicate that the OS from which the job submitted is different than the OS in which Spark is running. That flag need to be used at https://github.com/Microsoft/Mobius/blob/master/scala/src/main/org/apache/spark/api/csharp/CSharpRDD.scala#L50
* When the job is submit

[2016-05-25 01:11] skaarthik commented on #452
@josephwinston - yes, Mono is a [requirement to build & run Mobius](https://github.com/Microsoft/Mobius/blob/master/notes/linux-instructions.md#prerequisites). @slyons mentioned he built Mobius. So I assume Mono is installed in his machine.

One of my coworkers could repro this issue. He believes it is due to a missing file in the build drop location of SparkCLRSamples.exe. I will confirm that cop

[2016-05-25 01:14] skaarthik commented on #285
Closing this issue.

Now submitting Mobius app to Spark cluster in Linux works if the submission is from a Linux client. Submitting from Windows client to Spark cluster in Linux has two minor issues. Opened #460 to track that.

[2016-05-25 01:14] #285 closed

[2016-05-25 01:15] #450 closed

[2016-05-25 01:15] skaarthik commented on #455
@ErikApption - can you confirm if the suggestion from @qualiu helps?

[2016-05-25 01:34] josephwinston commented on #452
Poor wording on my part in reporting the issue.

I agree with the later part of your statement @skaarthik, you need ```mono``` to execute a "PE32 executable for MS Windows (console) Intel 80386 32-bit Mono/.Net assembly" on OS X (output of ```file SparkCLRSamples.exe```) as well on other Unix systems where ```binfmt``` is not in use.

This Linux specific hack of using ```binfmt``` that is **not**

[2016-05-25 02:42] kai-zeng commented on #460
- As to the path configuration, I think we don't need the extra configuration parameter. Instead, I prefer to construct the path in CSharpRDD.compute. That is, in C# spark context codes, we simply set `cSharpWorkerExecutable = "CSharpWorker.exe"`, and in CSharpRDD.compute, we construct path using `Path.get(".", cSharpWorkerExecutable)`.
There are two reasons for this approach:
1. compute is happen

[2016-05-25 05:39] skaarthik commented on #460
That would work too. Avoiding a new config is better. We already override compute method. I assumed you had a reason for not using compute method to set/correct worker path in your recent commit.

Suggestion on setting permissions sounds good.

[2016-05-25 06:11] kai-zeng commented on #460
Actually for the recent commit I don't have a strong reason against overriding compute. I just wanted to stick to the current approach, but I didn't consider submitting jobs across different OS.

I can take care of this issue.

[2016-05-25 06:33] skaarthik commented on #452
@josephwinston - thanks for the info. Mobius project can leverage your expertise in this area. It would be great if you can contribute to the documentation updates and other OSX related changes.

[2016-05-25 14:17] ErikApption commented on #455
Issue is resolved we had some hanging processes in yarn that were causing this error. Mobius + Yarn is now working out of the box.

[2016-05-25 14:17] #455 closed

[2016-05-27 17:39] isaacabraham commented on #340
FYI... http://vaskir.blogspot.de/2016/05/upcoming-f-struct-tuples-are-they.html?m=1

[2016-05-27 19:02] kai-zeng commented on #460
Fixed by commit cc81df5. Closing this issue.

[2016-05-27 19:02] #460 closed

[2016-05-28 01:07] skaarthik commented on #447
@earthdrawn - all scala unit tests passed for me when I run "mvn package" in scala folder in Mobius clone. I did this in headnode in HDInsight Spark cluster. This cluster was created two days back and it seems to have a more recent build of java.

Test output:

Run completed in 3 seconds, 938 milliseconds.
Total number of tests run: 26
Suites: completed 6, aborted 0
Tests: succeeded 26, failed 0,

[2016-05-28 06:56] skaarthik opened #465 "set correct permissions on build artifacts"
All files in the Mobius build output have 664 permissions. To use Mobius in Linux, one has to manually do chmod on sparkclr-submit.sh and .exe files (CSharpWorker, samples, examples etc.). Mobius users should not have to do this. We have to take care of this right after build is done or before packaging bits for release.

@kai-zeng - comments?

[2016-05-31 05:34] skaarthik opened #467 "YARN cluster mode failure in Linux"
Client mode works fine in Linux but cluster mode fails with the message like the following:
CSharpRunner.main]Cannot run program "SparkClrPi.exe": error=2, No such file or directory

We may have to add "." to the exe before launching it as a process in CSharpRunner.

@kai-zeng & @tawan0109 - FYI

[2016-05-31 05:34] skaarthik opened #468 "error launching worker in CentOS and OSX"
In CentOS and OSX, to execute Mobius either "binfmt_misc" has to be used or the [recommendation](http://www.mono-project.com/docs/getting-started/application-deployment/#layout-recommendation) of creating a script to call the application needs to be employed. Using the script for Mobius driver applications is straightforward but there is no way for doing that for CSharpWorker.

Here is simple way

[2016-05-31 06:47] qualiu commented on #468
@skaarthik - That's a good idea！I agree that leave trivial works  as little as possible to user.

[2016-05-31 18:42] kai-zeng commented on #468
I have a slight different suggestion: instead of adding a CSharpWorker.sh.exe, what about we prefix the path with "mono" when we constructing csharpworker path in CSharpRDD.compute?

[2016-05-31 18:44] kai-zeng commented on #467
Agreed.

[2016-05-31 18:48] kai-zeng commented on #465
Shall we always release the one built on Linux?

BTW, since now we always set the modes of.exe files to 755 when we zip the dependencies, so only the mode of sparkclr-submit.sh is a problem.

[2016-05-31 21:01] skaarthik commented on #468
Adding "mono" will not be enough. I had to do the following in CSharpWorker.sh.exe to get it to work.
export PATH=$PATH:/opt/mono/bin
export PKG_CONFIG_PATH=/opt/mono/lib/pkgconfig

Adding these export statements to a script at /etc/profile.d and restarting Spark services did not help.

Maybe there is another way to set the right path and pkg config and in that case we could just prefix "mono" to

[2016-06-01 02:19] qualiu commented on #468
First, I think it's better to solve it at the beginning:
1) Modifying the system once for all is not a best idea. (maybe that's why http://www.mono-project.com/docs/getting-started/application-deployment/#layout-recommendation)
2) Temporally changing as following is annoying and may impossible for user who can't get root permission :
echo ':CLR:M::MZ::/usr/bin/mono:' > /proc/sys/fs/binfmt_misc/reg

[2016-06-02 06:03] skaarthik commented on #439
@qualiu is working on this

[2016-06-03 03:58] skaarthik commented on #465
@kai-zeng - release is now done on AppVeyor. I do not know how easy it is to move that over to Travis.

[2016-06-03 03:58] skaarthik commented on #468
@kai-zeng - any additional comments?

[2016-06-03 05:29] kai-zeng commented on #468
I still think we don't need a launch script. Here are my reasons:

1. The official suggestions on deploying mono applications are very good. But it is worth noting that what they suggest is about user applications, not mono itself. They are not suggesting set the mono path every time. IMO it's pretty reasonable to assume mono and its libraries are in the system path, and users can directly run "mo

[2016-06-06 21:02] skaarthik commented on #468
@kai-zeng is looking into this issue

[2016-06-10 23:53] skaarthik commented on #452
@slyons - do we need to keep this issue open? The write-up from @josephwinston is good and covers running Mobius in OS X.

[2016-06-11 00:05] slyons commented on #452
I haven't had a chance to test it, but the issue can probably be put to rest
On Jun 10, 2016 16:53, "Kaarthik Sivashanmugam" <notifications@github.com>
wrote:

[2016-06-11 00:14] #452 closed

[2016-06-11 00:14] skaarthik commented on #447
Closing due to inactivity. Feel free to reopen if needed.

[2016-06-11 00:14] #447 closed

[2016-06-17 19:15] skaarthik opened #477 "improve code coverage in Scala project"
![image](https://cloud.githubusercontent.com/assets/10677836/16161943/0f7ab09c-3485-11e6-833a-03e44b3070ec.png)

[2016-06-21 18:26] josephwinston opened #480 "MSB4126 while building"
While following <https://github.com/Microsoft/Mobius/blob/master/notes/windows-instructions.md>, I received the following error after running ```Build.cmd```:

[code]

This can be fixed by setting ```platform``` to ```Any CPU```  Perhaps, this should be part of the ```Build.cmd``` command.

[2016-06-22 20:20] skaarthik commented on #480
@josephwinston I do not get this error when I build the master branch. Are you seeing this error in OS X?

[2016-06-22 20:34] josephwinston commented on #480
This is on Windows 7, building from CMD running ```C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\vcvarsall.bat amd64``` eg "VS2015 x64 Native Tools Command Prompt"

[2016-06-22 20:56] skaarthik commented on #480
Just learned that vcvarsall.bat enables [VC++ compiler toolset](https://msdn.microsoft.com/en-us/library/x4d2c09s.aspx) for building native code. I have been using the [command prompt that enables .NET toolset](https://msdn.microsoft.com/en-us/library/ms229859(v=vs.110).aspx) and the documentation was meant to recommend using that.

[2016-07-01 18:22] skaarthik commented on #467
Fixed with https://github.com/Microsoft/Mobius/commit/4004001732470d619633ee311fd7e9ca56f79b8a

[2016-07-01 18:22] #467 closed

[2016-07-01 18:26] skaarthik commented on #468
Added notes to use prefix script for worker using CSharpWorkerPath in app.config. See https://github.com/Microsoft/Mobius/commit/4f39658e4e68bb59c7960462ba5724895629101f.

[2016-07-01 18:26] #468 closed

[2016-07-01 18:29] skaarthik commented on #480
@josephwinston - did you try using .NET dev prompt to build Mobius? Is there any follow-up needed from the Mobius devs on this issue?

[2016-07-01 18:30] skaarthik commented on #439
Fixed in https://github.com/Microsoft/Mobius/commit/7d6ea24a8d8b151692a33890820e33852bf52059.

@qintao1976 is working on additional improvements.

[2016-07-01 18:30] #439 closed

[2016-07-01 18:45] josephwinston commented on #480
Please close even though I haven't had the chance to try it with the correct decision prompt.

[2016-07-01 18:51] skaarthik commented on #480
Ok, thanks. Please reopen if needed.

[2016-07-01 18:51] #480 closed

[2016-07-08 02:31] qualiu opened #491 "Can we upgrade C# (.NET >= 4.5; Mono >= 4.4) ?"
## Motivation : want to use some new feature
At least features like "**nameof**" and "**String Interpolation**" are very useful.
Take "**String Interpolation**" as an example:
The old fashion usage :
`String.Format("***{0} *** {1} *** {2} ***", v1, a2, p3);`
The above usage is quite clumsy comparing to new usage and **vulnerable to changes** :
`$"{v1} *** {a2} *** {p3}"`

### What to do for upgrad

[2016-07-08 04:54] qualiu commented on #491
### What to do for upgrading C# version (.NET >= 4.5; Mono >= 4.4)
Only update the scripts (*.bat/*.cmd) **on Windows only** :
`SET VisualStudioVersion=12.0`
Change it to :
`SET VisualStudioVersion=14.0`

[2016-07-08 05:03] danielli90 commented on #491
For Windows, .Net 4.5 is required. Good enough for Windows?

https://github.com/Microsoft/Mobius/blob/master/notes/windows-instructions.md#building-mobius
•Developer Command Prompt for Visual Studio 2013 or above, which comes with .NET Framework 4.5 or above. Note: Visual Studio 2015 Community Edition is FREE.

[2016-07-08 06:16] qualiu commented on #491
Improvements in .NET 4.5 : https://msdn.microsoft.com/en-us/library/ms171868(v=vs.110).aspx#core
At least on related to us : (item 3)
Better performance through background garbage collection.

[2016-07-08 06:23] skaarthik commented on #491
Mobius C# code is already built for .NET 4.5. See https://github.com/Microsoft/Mobius/blob/master/csharp/Adapter/Microsoft.Spark.CSharp/Adapter.csproj#L12

[2016-07-08 06:46] qualiu commented on #491
@skaarthik I probably post wrong requirement for the upgrade. Let me describe what happens first :
#### On Windows (already fine on Linux : CentOS / Ubuntu)
If I use the following code :
`Console.WriteLine($"Usage    : {exe}  input-arguments, type = {nameof(testArgsQuotes)}");`

And call {Mobius}\csharp\Build.cmd  will get compilation error as following:
[code]

But if I update the script {Mobius}

[2016-07-08 07:04] danielli90 commented on #491
C# 6.0 comes with VS14 (Visual Studio 15) - https://msdn.microsoft.com/en-us/library/hh156499.aspx
•	String Interpolation
You can use string interpolation expressions to construct strings. An interpolated string expression looks like a template string that contains expressions. C# creates a string by replacing the expressions with the ToString represenations of the expressions’ results. An interpo

[2016-07-08 07:53] qualiu commented on #491
Thanks @danielli90 ! Probably it's a topic about the "build tool version" and "target framework version" as @skaarthik  said.
The phenomenon in brief : (and both of following compilation passed)
1) Nothing to change compile OK in VS2015 (compile within IDE) , Target framework = 4.5.
2) Change Build.cmd :` SET VisualStudioVersion=14.0 ` then call Build.cmd OK.
In addition : my local machine has onl

[2016-07-08 15:24] danielli90 commented on #491
@qualiu, just make sure we are on the same page regarding your ask here -

"String interploation" and "nameof" are new C# 6.0 features; C# 6.0 is supported only in VS2015 (and above). When VS 2013 is used, "String interploation" and "nameof" trigger compiler error, as you observed.

If you remove "String interpolation" and "nameof" in your code, VS 2013 should be able to compile. For example chang

[2016-07-08 22:11] hebinhuang opened #493 "Collect and publish code coverage number for native code"
No C++ code coverage number yet, we need to collect and publish code coverage number.

[2016-07-08 22:13] hebinhuang opened #494 "Add automatic unit tests and code coverage for native code."
VSTest for C++ is good start for automatic unit tests and code coverage.

[2016-07-08 22:15] hebinhuang opened #495 "Need a long running Spark job or a simulation involving Riosock to test memory leak"
Use a long running Spark job or a simulation involving Riosock to test memory leak

[2016-07-09 03:12] qualiu commented on #491
@danielli90 : yes, but from phenomenon seems we don't need to upgrade to C# 6.0, just need to upgrade the build tool to VS2015, and on Windows only. (Linux are already well)

[2016-07-11 05:24] jthelin commented on #491
@danielli90 - Orleans has switched to using VS2015 for build/test, but is trying to still be able to run code on .NET 4.5.x for now.

This generally means avoiding the C# 6.0 changes that require updated NET 4.6 runtime, but there are  some C# 6.0 features like string interpolation that are done at compile time and remain compatible on old 4.5.x runtime. Given that most of those compile-time 6.0 e

[2016-07-11 22:16] madhus84 opened #496 "Error in calling "sparkclr-submit.cmd debug" command"
I am trying to use mobius spark clr for my internal project. i have built spark clr and when i call "sparkclr-submit.cmd debug", its throwing me below error that it cant find a class

SPARKCLR_JAR=spark-clr_2.10-1.6.101-PREVIEW1.jar
Exception in thread "main" java.lang.NoClassDefFoundError: scala/collection/Seq
        at org.apache.spark.deploy.csharp.CSharpRunner.main(CSharpRunner.scala)
Caused

[2016-07-11 22:34] hebinhuang commented on #496
@madhus84, the error is caused by missing Spark bits. Please make sure you have downloaded spark bits. You can run "RunSamples.cmd" from "build/localmode" of source code to download Spark bits.

Please see "https://github.com/Microsoft/Mobius/blob/master/notes/windows-instructions.md#running-in-local-mode-dev-environment" for the detail of running "RunSamples.cmd".

Then set SPARK_HOME to Spark bi

[2016-07-11 23:05] madhus84 commented on #496
hi

I ran the Runsamples.cmd and i got the below output...

Error is "Error: Could not find or load main class
org.apache.spark.launcher.SparkCLRSubmitArguments"

[RunSamples.cmd] CWD=
C:\Users\mnatarajan\Downloads\Mobiusbranch1.6\Mobiusbranch1.6\build\localmode
VisualStudioVersion = "12.0"
[RunSamples.cmd] SPARK_VERSION=1.6.1, HADOOP_VERSION=2.6
[downloadtools] hadoopVersion=2.6, sparkVersion=1.6

[2016-07-11 23:17] madhus84 commented on #496
hi

Please ignore the previous mail.. there was an error in extracting
spark-1.6.1-bin-hadoop2.6.tgz
for some reason.. manually extracted to appropriate folder and retried. now
its completed... thanks for your help

Thanks,
Madhu

On Mon, Jul 11, 2016 at 7:05 PM, Madhusudhanan <madhus84@gmail.com> wrote:

[2016-07-12 06:06] #496 closed

[2016-07-12 06:09] danielli90 commented on #491
Thanks @jthelin.

@qualiu, given Mobius needs to support .Net 4.5.x as well, we can avoid those C# 6.0 syntactic-sugar and configure ReSharper accordingly. Does that make sense to you?

[2016-07-12 06:15] qualiu commented on #491
@danielli90 : OK, thanks!   And thanks @jthelin for your expert comment.

[2016-07-12 06:16] #491 closed

[2016-07-12 17:54] hebinhuang commented on #496
@madhus84, you missed the Env variable "HADOOP_HOME".
if you used  RunSamples.cmd  to run Mobius samples, you can find  toos\winutils  directory (under  build  directory) that can be used as HADOOP_HOME
(https://github.com/Microsoft/Mobius/blob/master/notes/running-mobius-app.md#pre-requisites)

[2016-07-13 02:48] VenkateshSrini commented on #105
Hi Any updates on this. Is this library compatible with .NET core

[2016-07-13 16:15] kai-zeng commented on #105
@VenkateshSrini Hi. Mobius is fully compatible with Mono 4.2+ starting from release 1.5.2. We are looking into the compatibility with .NET core now.

[2016-07-16 05:53] VenkateshSrini commented on #105
Hi kai-zeng,
Thanks for your reply. We are typically looking for .NET core support as that is from Microsoft officially. Can you please tell us time line by which it will be available.

[2016-07-18 06:45] qualiu opened #503 "Clean logs and downgrade most log level"
**This's a low level issue. Just put here, and as a tip here that keep our log reduced when adding codes.**
Too many core classes generate too many logs and most of the logs are debug logs in fact, but has INFO level.
Such as : [TaskRunner.cs](https://github.com/Microsoft/Mobius/blob/master/csharp/Worker/Microsoft.Spark.CSharp/TaskRunner.cs)  [Worker.cs](https://github.com/Microsoft/Mobius/blob/ma

[2016-07-18 11:17] qualiu commented on #503
close as low priority for the time being.

[2016-07-18 11:17] #503 closed

[2016-07-19 01:46] jwkjng commented on #105
+1

[2016-07-22 20:52] skaarthik commented on #456
Thanks for this new feature, @hebinhuang Closing this issue as the pending items are tracked separately.

[2016-07-22 20:52] #456 closed

[2016-07-22 20:53] skaarthik commented on #493
Thanks for this addressing this item @hebinhuang

[2016-07-22 20:53] #493 closed

[2016-07-22 20:53] skaarthik commented on #494
Thanks for this addressing this item @hebinhuang

[2016-07-22 20:53] #494 closed

[2016-07-22 20:54] skaarthik commented on #354
Will be part of #437

[2016-07-30 14:37] ppatierno opened #514 "Adding a custom receiver for Spark Streaming"
If we have a custom receiver library, what's the right way to integrate in Mobius. I see something similar with Event Hub connector for example. Should be the StreamingContextIpcProxy modified in order to expose a new custom receiver ?

Thanks,
Paolo.

[2016-08-02 05:42] skaarthik opened #516 "support for F# in REPL"

[2016-08-02 06:49] skaarthik commented on #117
@tawan and @kai-zeng completed the work and it is already merged

[2016-08-02 06:49] #117 closed

[2016-08-02 14:41] rajagopalanseeth opened #517 "example project for CassandraDataFrame not working"
Hi,

I have downloaded Mobius in Windows platform. As per the instructions mentioned in the [site](https://github.com/Microsoft/Mobius/blob/master/notes/windows-instructions.md#building-mobius) , I was able to build using build.cmd. Now I want to run the example code for **CassandraDataFrame**. I build the project, gave the value for “**CSharpBackendPortNumber**” and “**CSharpWorkerPath**” and the

[2016-08-03 00:33] skaarthik commented on #517
It looks like the jars files required to connect to Cassandra are not in the classpath. Follow instructions at https://github.com/Microsoft/Mobius/blob/master/notes/running-mobius-app.md#cassandra-example-sql and make sure you use "--jars" parameter to provide the path to the required jar files.

[2016-08-03 00:51] skaarthik commented on #514
You do not have to do what was done for adding Event Hubs API to Mobius. That approach is appropriate for supporting a source (like Event Hubs) natively in Mobius. However, if your code is in C# and want to use that to create DStream, you could follow `DStreamCSharpInputSample` sample at https://github.com/Microsoft/Mobius/blob/master/csharp/Samples/Microsoft.Spark.CSharp/DStreamSamples.cs#L298

c

[2016-08-03 05:13] ppatierno commented on #514
@skaarthik my connector is developed in Scala with a reliable receiver implementation. I'd like to provide it like Kafka and Event Hub ones natively in Mobius. I think it's the only way because it isn't written in C#

[2016-08-03 14:42] rajagopalanseeth commented on #517
Hi,

As per the link that you have provided, I have downloaded the following jars
- spark-cassandra-connector_2.10-1.6.0.jar
- cassandra-driver-core-3.0.2.jar
- jsr166e-1.1.0.jar
- guava-19.0.jar
- spark-sql_2.10-1.6.1.jar

And it is still giving the following errors when I run the following commands

`sparkclr-submit.cmd --jars C:\Users\rajagopalans\Desktop\Analytics\Mobius-master\build\runtime\l

[2016-08-03 16:55] madhus84 commented on #496
Hi

Is there any custom receiver i can use? I want to use spark clr from
webservice layer. For certain rest apis i want to generate dstream and pass
it to spark streaming apis.. Is there anyway i can do this?

PS: i am unable to post on github since i forgot my password and the forgot
password link isnt working.

Thanks,
Madhu

On Mon, Jul 11, 2016 at 6:34 PM, Hebin Huang <notifications@github.com

[2016-08-03 17:38] madhus84 opened #518 "Custom receiver for spark streaming"
Hi

Can i define my own custom receiver ? I am using version 1.6. I want to use spark clr from webservice layer. For certain rest apis i want to generate dstream to be consumed by spark streaming apis.. Is there anyway i can do this?

Thanks,
Madhu

[2016-08-03 22:30] madhus84 commented on #518
hi

Any help here would be greatly appreciated?

Thanks,
Madhu

[2016-08-04 05:43] skaarthik commented on #514
@ppatierno in that case, you could follow the same approach as Event Hubs support in Mobius and use your custom connector with Mobius.

[2016-08-04 05:57] skaarthik commented on #517
The error is `java.lang.NoSuchMethodError: org.apache.spark.sql.types.DecimalType.(II)V`. This is most likely caused by incorrect version or mismatch in versions in one of the jars.

You need to use the right version of Mobius (https://github.com/Microsoft/Mobius/releases) for the Spark version you are using (I don't think the mismatch between Spark and Mobius is causing the problem you have repor

[2016-08-04 06:02] ppatierno commented on #514
@skaarthik ok so in that case I'll open a PR for the project ;)

[2016-08-04 06:02] #514 closed

[2016-08-04 07:45] qintao1976 commented on #518
Hi

We provide an simple API to control data injection to Mobius streaming application.

        /// <summary>
        /// Create an input stream that user can control the data injection by C# code
        /// </summary>
        /// <param name="ssc">Spark Streaming Context</param>
        /// <param name="numPartitions">number of partitions</param>
        /// <param name="func">
        /// func

[2016-08-04 12:32] rajagopalanseeth commented on #517
I was able to fix the issue when running via sparkclr-submit.cmd by finding out all the required jars for spark-cassandra-connectors by running the command `**spark-shell --packages datastax:spark-cassandra-connector:1.6.0-s_2.10**` and once all the jars are copied, i have run the following sparkclr command

   `sparkclr-submit.cmd --jars C:\Users\rajagopalans\Desktop\Analytics\Mobius-master\build

[2016-08-04 18:22] madhus84 commented on #518
Hi Tao

Thanks for your help .. let me try this. this is not yet in any release rite.

Thanks,
Madhu

[2016-08-06 00:20] skaarthik commented on #517
Currently --jars is not allowed in debug mode. For debug mode, you need to set the environment variable SPARKCLR_DEBUGMODE_EXT_JARS. This should point to all the dependent jar files. Refer to https://github.com/Microsoft/Mobius/blob/master/notes/running-mobius-app.md#debug-mode for details on this environment variable.

[2016-08-06 00:21] skaarthik commented on #518
@madhus84 - that's correct. It will be in the next release (planned for next week). In the meantime, build Mobius from master branch.

[2016-08-06 07:01] rajagopalanseeth commented on #517
yes.. it's working now.. Thank you for your help.

[2016-08-06 07:01] #517 closed

[2016-08-08 17:57] skaarthik commented on #465
Will add instructions in M3

[2016-08-08 18:38] skaarthik opened #523 "improve debug experience"

[2016-08-09 04:36] qualiu commented on #523
I can take this one if no one already took it.

[2016-08-09 04:38] qualiu commented on #495
Seems we can use the [testMobius](https://github.com/qualiu/testMobius)  with Socket or Kafka  streaming. I can provide some usage example and help if you like.

[2016-08-09 21:52] #523 closed

[2016-08-10 12:58] qualiu commented on #495
you can use one command line to test, more tool and usage follow [RIOSocket test and with memory test](https://github.com/qualiu/testMobius/blob/master/usages-and-cases.md)
brief the command lines as following :
* Socket : [scripts\memory\local-Riosocket-test-by-socket.bat 1](https://github.com/qualiu/testMobius/blob/master/scripts/memory/local-Riosocket-kafka-test.bat)
* Kafka : [scripts\memory\l

[2016-08-11 08:17] delulu opened #527 "Expose hadoopConfiguration in SparkContext"
Hi,

I need to write data to remote hdfs in my spark applications.

by default, dfs client will use ip address to connect to datanode, while the ip address is private and can't be reachable in spark cluster.

so, I want to add some custom hdfs setting to support multi-homed networks.

but the SparkContext class in Mobius did not provide a way to modify hadoopConfiguration in runtime, while it's su

[2016-08-11 08:40] qualiu commented on #527
You've caught a good issue! :+1:

[2016-08-11 16:57] hebinhuang commented on #495
There is an issue in testMobius with RIOSocket. the issue is still in debugging.

[2016-08-11 19:43] skaarthik commented on #527
@delulu - is exposing hadoop configuration the only way to achieve what you are trying to do? Is there any other way to pass hadoop configuration to Spark job through command line parameter or config files?

[2016-08-11 19:46] skaarthik commented on #527
@delulu - can you share the methods in [HadoopConfiguration](http://hadoop.apache.org/docs/current/api/org/apache/hadoop/conf/Configuration.html) you might be interested in.

[2016-08-12 03:25] delulu commented on #527
@skaarthik - I would like to use the set method below to add some properties.

// Set the value of the name property.
void set(String name, String value)

[2016-08-12 03:47] delulu commented on #527
@skaarthik - hadoop configuration can't be passed to Spark job through cmd line parameter, and I've tried to update hdfs-site.xml in HADOOP_CONF_DIR on my client box before submitting spark job, but it didn't work as expected.

so it would be nice if we can update hadoop configuration in runtime, since it's supported in scala api.

[2016-08-12 08:08] tawan0109 commented on #383
Fixed in PR #528

[2016-08-12 08:08] #383 closed

[2016-08-12 23:20] skaarthik commented on #527
@delulu try using the feature in build https://github.com/Microsoft/Mobius/releases/tag/v1.6.200-PREVIEW-1.

[2016-08-12 23:20] #527 closed

[2016-08-15 12:10] delulu commented on #527
@skaarthik thank you for such a quick response! I've applied your changes and it works well.
Also, I want to correct my previous comment - actually we can pass hadoop configuration **with a prefix "spark.hadoop."** to spark job through cmd line params.

[2016-08-16 00:43] skaarthik commented on #518
@madhus84 - anything further needed on this issue? can this be closed?

[2016-08-16 15:52] madhus84 commented on #518
Hi Kaarthik

This can be closed.

Thanks,
Madhu

On Mon, Aug 15, 2016 at 8:43 PM, Kaarthik Sivashanmugam <
notifications@github.com> wrote:

[2016-08-16 17:16] #518 closed

[2016-08-22 05:26] qualiu opened #540 "Improve batch files to support path contains white space"
# Issue

Mobius batch files( like _.cmd/_.bat ) does not support path contains special character like (white space).
# Repro/Example

Rename your folder local Mobius to has a space or move it into a directory that full path contains space.
Then run [build\localmode\RunSamples.cmd](https://github.com/Microsoft/Mobius/blob/master/build/localmode/RunSamples.cmd) will fail at [load-spark-env.cmd](http

[2016-08-23 20:47] hebinhuang commented on #495
There are a potential issue in Mobius that cannot keep testMobius with socket on long running.

[2016-08-23 20:59] skaarthik commented on #495
@hebinhuang - can you elaborate on your last comment and also comment if this impacts M3?

[2016-08-23 21:39] hebinhuang commented on #495
@skaarthik ,
The issue is happened on the [testKeyValueStream](https://github.com/qualiu/testMobius/tree/master/csharp/testKeyValueStream) with a socket data source. The testKeyValueStream starts a loop to test KeyValueStream, the StreamingContext will be started and stopped in each loop iteration. After about 7~10 iterations, the testKeyValueStream gets stuck.
The scenario in the testKeyValueStre

[2016-08-25 02:46] #437 closed

[2016-08-25 02:47] skaarthik commented on #516
This is just a documentation task

[2016-08-25 13:37] qualiu commented on #540
This will be postponed as [**current spark doesn't support path has white spaces**] (https://github.com/apache/spark/pull/14807)
Will follow it and activate this if spark support this.

[2016-08-26 04:58] Myasuka commented on #465
Currently, when AppVeyor release `spark-clr-*.zip`, `Build.cmd` script uses `7z` to generate `*.zip` in which all files are `644` permission under Linux. However if we generate `*.tar` file, all files are `755` permission under Linux. Although it behaves a little strange, user would not manually do chmod on sparkclr-submit.sh and .exe files.

[2016-08-26 05:50] Myasuka opened #550 "Should we use relative path instead of absolute path in notes?"
Spark official docs use relative path instead of absolute path, such as [submitting-applications](http://spark.apache.org/docs/latest/submitting-applications.html). I think it's better to use relative path in documentation since not every user have the specific path and will not make users feel confused.
Currently, documentations in Mobius mainly use absolute paths, such as [windows-instructions](

[2016-08-26 06:38] qualiu commented on #550
This's really will puzzle especially the freshman using Mobius.
I'd prefer use a notion path such as `{Mobius}\build\dependency\` or `{yourself-downloaded-jars-dir}\`, etc.

[2016-08-26 08:39] skaarthik commented on #550
Personally  I don't think it is needed. I think absolute paths make more sense and I assume those who read the doc can figure out that the path references are just for showing how to carry out somethings in Mobius.

[2016-08-26 20:14] skaarthik opened #551 "Support for SparkSession"

[2016-08-26 20:14] skaarthik opened #552 "Support for StructuredStreaming"

[2016-08-26 20:14] skaarthik opened #553 "Migrate to new Accumulator API"

[2016-08-26 20:15] skaarthik opened #554 "Support for SparkML"
Need to understand demand and do exploration possibly in M4

[2016-08-26 20:16] skaarthik commented on #354
Initial version at https://github.com/skaarthik/Mobius/commit/db51b2100f585bef943468c114d0a50b40321628#diff-032b7abe6a446b8cf587197ea8b06c6dR32

[2016-08-26 20:16] skaarthik commented on #551
Initial version at https://github.com/skaarthik/Mobius/commit/db51b2100f585bef943468c114d0a50b40321628

[2016-08-30 07:34] Myasuka commented on #102
Already created a PR to fix this issue: https://github.com/Microsoft/Mobius/pull/557

[2016-09-01 19:08] madhus84 commented on #518
Hi

Can we use spark CLR to monitor data from webserver? Below are my
observations so far.

From what i saw, sparkclr-submit.cmd in debug mode allows for CSharpBackend
process to start. The port number is printed to console which i can use
from console app for testing.
Else if i specify sparkclr-submit.cmd in localmode , it expects parameter
--exe to be specified. In this case, i dont want to pass

[2016-09-29 17:21] shakdoesgithub opened #568 "Error: Could not find or load main class org.apache.spark.launcher.SparkCLRSubmitArguments"
Hi I'm getting this issue when I submit when using the spark-cler_2.11.-2.0.000 Preview.
Currently this is running on OSX with the following environment variables set:

export SPARK_HOME="/Users/myuser/Development/Tools/spark-2.0.0-bin-hadoop2.7"
export JAVA_HOME="/Library/Java/JavaVirtualMachines/jdk1.8.0_31.jdk/Contents/Home"
export SPARKCLR_HOME="/Users/myuser/Development/Tools/spark-clr_2.11-2

[2016-09-29 19:56] skaarthik commented on #568
LAUNCH_CLASSPATH variable is not correct in the output you shared. It should be `/Users/myuser/Development/Tools/spark-2.0.0-bin-hadoop2.7/jars/*` - "/" between "jars" and "*" is missing.

Try changing the backslash to forward slash at https://github.com/Microsoft/Mobius/blob/master/scripts/sparkclr-submit.sh#L58 to see if it helps.

[2016-10-03 17:58] EdStone opened #569 "Debugging C# Spark jobs from within VS2015"
Hi All:
1. Still not clear ... is it possible to debug / step through a C# spark application from within Visual Studio? To clarify, I want to create a simple C# word count application and step through it from within VS (i.e., not send the job to the cluster)
   If so, can you please direct to / provide instructions.
2. What is the best way for someone to get involved in development?

Thank you ver

[2016-10-04 17:49] skaarthik commented on #569
Hi @EdStone
1. You can debug a Mobius driver app in VS following the instructions at https://github.com/Microsoft/Mobius/blob/master/notes/running-mobius-app.md#debug-mode.
2. I assume this question is about contributing to Mobius. The best way to get started is to look at [open issues](https://github.com/Microsoft/Mobius/issues) and pick one to work on. [Contribution Guide](https://github.com/Mic

[2016-10-04 17:51] skaarthik opened #570 "upgrade master branch to Spark 2.0.1"

[2016-10-04 17:51] skaarthik commented on #550
Closing this issue for now. Reopen if needed.

[2016-10-04 17:51] #550 closed

[2016-10-04 17:54] skaarthik commented on #551
SparkSession support is now available in master branch

[2016-10-04 17:54] #551 closed

[2016-10-04 18:00] skaarthik opened #571 "update documentation for using Mobius in HDInsight Azure"
Spark 2.0 cluster in HDInsight comes with Ubuntu 16.04 and hence upgrading Mono is no longer required as called out in https://github.com/Microsoft/Mobius/blob/master/notes/linux-instructions.md#mobius-in-azure-hdinsight-spark-cluster. Doc needs update.

[2016-10-04 18:05] skaarthik opened #572 "add support for UDF in SparkSession"
SqlContext supports UDFs. The same features needs to be added to SparkSession. See https://github.com/Microsoft/Mobius/blob/master/csharp/Adapter/Microsoft.Spark.CSharp/Proxy/Ipc/SparkSessionIpcProxy.cs#L28 for reference.

[2016-10-04 18:16] skaarthik commented on #570
References (commits for upgrade from 1.6.1 to 1.6.2):
* https://github.com/Microsoft/Mobius/commit/2337e7cee26769a89f0be125cc52862e2a752098
* https://github.com/Microsoft/Mobius/commit/d78493bc42e9b1f05984455c81d99787502496b5

[2016-10-04 18:17] skaarthik commented on #568
@shakdoesgithub Is your issue resolved? Can we close this issue?

[2016-10-04 18:17] skaarthik commented on #354
Dataset support is now available in Mobius.

[2016-10-04 18:17] #354 closed

[2016-10-04 18:38] shakdoesgithub commented on #568
@skaarthik thanks, that was it.  I noticed this is still causing issues in AWS EMR which is based off centos.  Do you want me to create a pull request for this?

[2016-10-04 20:08] skaarthik commented on #568
@shakdoesgithub - yes, please send PR. I am closing this issue.

[2016-10-04 20:08] #568 closed

[2016-10-05 01:45] shakdoesgithub opened #574 "System.NotSupportedException: Spark master value yarn not recognized"
on my worker node, I'm getting this error:
`System.NotSupportedException: Spark master value yarn not recognized`

I'm running this on AWS EMR with spark 2.0.

I'm starting the job with this command:

`./sparkclr-submit.sh --master yarn-cluster  --exe apacheSpark.sh.exe /home/ec2-user/app/Debug/`

I see that the job is send to two nodes, and both nodes report the same message:
`Spark master value

[2016-10-05 07:17] ramkumarravy opened #575 "Issue with HiveDataFrame example execution"
While running HiveDataFrame example, following exception gets thrown in the HiveContext creation line.

Also this error:

For your information, I am running the sample in "Debug" mode and I've also referred the external JARS (hope, not required for this) as suggested here: https://github.com/Microsoft/Mobius/issues/450

Please refer to the logs from the screenshot below.

![mobius](https://cloud.g

[2016-10-05 17:48] skaarthik commented on #574
I have never tried using `yarn-cluster` for master config. Can you try `--master yarn --deploy-mode cluster`? These are the config values I have used in YARN following the documentation at https://spark.apache.org/docs/latest/running-on-yarn.html#launching-spark-on-yarn

[2016-10-05 17:59] skaarthik commented on #575
The second error message is the root cause. You can either set `spark.driver.memory` in Spark configuration file or set it in your code like `sparkConf.Set("spark.driver.memory", "512m")`. If you are running your Mobius app in normal mode (i.e. not in  debug mode) you could also use `--driver-memory` option in the command line. HTH.

[2016-10-05 18:02] shakdoesgithub commented on #574
same thing, it seems to be coming from this file:
https://github.com/Microsoft/Mobius/blob/1215ae66c6cb8841ad3d65c1ee6fb035c2fcaef1/csharp/Adapter/Microsoft.Spark.CSharp/Configuration/ConfigurationService.cs#L75

[2016-10-05 18:08] skaarthik commented on #574
Do you get similar error if you use `client` deploy mode?

[2016-10-05 18:14] ramkumarravy commented on #575
I've tried setting the memory option in the sample (refer to the screenshot below), but still facing the same memory exception.

![sshot-2](https://cloud.githubusercontent.com/assets/22632483/19125689/ab238f1a-8b55-11e6-9ead-aa25f6558726.png)

[2016-10-05 18:17] ramkumarravy commented on #575
As per steps listed for "debug" mode, I've started service for the CSharpBackend and have modified the port number/worker path in my C# application. Doesn't this mean running the sample in debug mode or is this normal mode ?

[2016-10-05 18:45] skaarthik commented on #575
Yes - the steps you have followed is for debug mode.

It looks like setting the config in code like `sparkConf.Set("spark.driver.memory", "512m")` does not help. See https://stackoverflow.com/questions/39023022/how-to-set-heap-size-in-spark-within-the-eclispe-environment for details. Try following the other option I suggested - to update the Spark config file.

Another option is to set the `-Xmx51

[2016-10-05 18:52] ramkumarravy commented on #575
Thanks Kaarthik!! Now the memory exception issue has been resolved. But, still I could face the hive context creation error (please refer below)

{"JVM method execution failed: Static method createHiveContext failed for class org.apache.spark.sql.api.csharp.SQLUtils when called with 1 parameters ([Index=1, Type=JvmObjectReference, Value=4], )"}

[2016-10-05 20:17] shakdoesgithub commented on #574
So I just ran it with the client deploy mode:
`/home/ec2-user/mobius/runtime/scripts/sparkclr-submit.sh --master yarn --deploy-mode cluster --exe apacheSpark.sh.exe /home/hadoop`

And i get the following on the terminal after executing the command:

[code]

On the worker node I get the following:
[code]

[2016-10-05 21:29] skaarthik commented on #575
Can you share the log messages from the output of sparkclr-submit.cmd?
BTW, what Metastore are you using for Hive that you are trying to connect to? I am wondering if you need to include the jar for connecting to it.

[2016-10-05 21:33] skaarthik commented on #574
The command line you shared and the log messages have `cluster` as the deploy mode. Can you try with `client` as the deploy mode and share the output/log messages?

[2016-10-06 05:46] HeeJun-Lee opened #576 "Issue with HiveDataFrame project program"
While running HiveDataFrame example, following exception gets thrown in the HiveContext creation line.

--------------------------------------------------------------------------------------------------------------------
C:\Users\hjlee\Downloads\Mobius-master\build\runtime\scripts>sparkclr-submit.cmd --exe HiveDataFrame.exe C:\Users\hjlee\Downloads\Mobius-master\examples\Sql\HiveDataFrame\bin\Debu

[2016-10-06 09:29] ramkumarravy commented on #575
I'd to know whether Mobius supports Spark ML/MLlib APIs ? here's the logs for your reference.

[sparkclr-submit.cmd] SPARKCLR_JAR=spark-clr_2.11-2.0.000-SNAPSHOT.jar
[sparkclr-submit.cmd] LAUNCH_CLASSPATH="D:\VisualAnalytics\Mobius-master\build\runtime\lib\spark-clr_2.11-2.0.000-SNAPSHOT.jar;D:\VisualAnalytics\Mobius-master\build\tools\spark-2.0.0-bin-hadoop2.7\jars\*"
Using Spark's default log4j

[2016-10-06 22:36] skaarthik commented on #575
@ramkumarravy Thanks for the logs. It seems like Hive functionality was broken during Spark 2.0 upgrade. Expect a PR with the fix soon. Once it is merged with the master branch, you could build Mobius from master or wait for the next PREVIEW release. Note that Hive functionality should work fine in 1.6.* releases.

[2016-10-06 22:37] skaarthik commented on #576
@HeeJun-Lee Hive functionality was broken in Mobius during Spark 2.0 upgrade. Fix is on the way. I will post a note when the fix is ready. In the meantime, you could try using 1.6.* versions of Mobius with Hive.

[2016-10-07 00:25] HeeJun-Lee commented on #576
First, thanks for apply.

And I try to run sample methods below command.

-------------------------------------------------------------------------------------------------------------
sparkclr-submit.cmd --jars C:\Users\hjlee\Downloads\Mobius-master\build\localmode\..\runtime\dependencies\spark-csv_2.10-1.4.0.jar,C:\Users\hjlee\Downloads\Mobius-master\build\localmode\..\runtime\dependencies\common

[2016-10-07 00:59] HeeJun-Lee commented on #576
Thank you.

Secondary problem is solved.

[2016-10-07 01:50] #576 closed

[2016-10-07 04:59] ramkumarravy commented on #575
Thanks for the reply.... Could you please let me know whether Mobius supports Spark ML/MLlib APIs ?

[2016-10-07 20:24] skaarthik commented on #575
Spark ML API is not available in Mobius now. If you need it, please add your comments to https://github.com/Microsoft/Mobius/issues/554. Someone will pick it up or better yet consider contributing to Mobius.

[2016-10-08 00:54] skaarthik commented on #576
@HeeJun-Lee the issue with HiveDataFrame example is fixed in https://github.com/Microsoft/Mobius/commit/edd7b7fd8b73190dcf5c254ae1342fda43dee835.

Check out using Mobius with Hive using the SparkSession and deprecated HiveContext API in this PR (https://github.com/skaarthik/Mobius/blob/34567724738ce095c268c8e1408a48504cb440bc/examples/Sql/HiveDataFrame/Program.cs). You can build Mobius from master

[2016-10-08 00:55] skaarthik commented on #575
Ramkumar - the issue with HiveDataFrame example is fixed in https://github.com/Microsoft/Mobius/commit/edd7b7fd8b73190dcf5c254ae1342fda43dee835.

Check out using Mobius with Hive using the SparkSession and deprecated HiveContext API in this PR (https://github.com/skaarthik/Mobius/blob/34567724738ce095c268c8e1408a48504cb440bc/examples/Sql/HiveDataFrame/Program.cs). You can build Mobius from master

[2016-10-10 18:09] skaarthik commented on #574
@shakdoesgithub thanks for reporting this issue. I just noticed that Mobius was not updated to reflect the [change in Spark's arguments for YARN](https://github.com/apache/spark/blob/4bafacaa5f50a3e986c14a38bc8df9bae303f3a0/core/src/main/scala/org/apache/spark/deploy/SparkSubmit.scala#L235) in Spark 2.0.  Fix is on the way. Expect a PR to Mobius on this soon.

[2016-10-11 22:28] skaarthik commented on #574
Issue fixed in https://github.com/Microsoft/Mobius/commit/7d920d12065c68759b1856949e096a2ca8e0486c
Fix is available in https://github.com/Microsoft/Mobius/releases/tag/v2.0.000-PREVIEW-2

[2016-10-11 22:28] #574 closed

[2016-10-11 22:28] skaarthik commented on #571
Fixed https://github.com/Microsoft/Mobius/commit/e64e342b33295eaa0671e646e4c2498d1b95b85d

[2016-10-11 22:28] #571 closed

[2016-10-11 23:48] skaarthik commented on #575
Fix (https://github.com/Microsoft/Mobius/commit/edd7b7fd8b73190dcf5c254ae1342fda43dee835) is in `master` and `branch-2.0` branches. It is also included in the latest preview release https://github.com/Microsoft/Mobius/releases/tag/v2.0.000-PREVIEW-2

[2016-10-11 23:48] #575 closed

[2016-10-12 17:52] EdStone opened #585 "System.NullReferenceException when executing SparkClrPi.exe in local mode"
Hi All:

While running your example, I am getting the error above.
I am able to run PySpark jobs so I am reasonably confident that all is installed on my system.

Attached is the console output of the running job.
[Log.txt](https://github.com/Microsoft/Mobius/files/525260/Log.txt)

Please advise.
Thank you very much, appreciate.

[2016-10-12 19:13] skaarthik commented on #585
@EdStone it looks like you do not have %HADOOP_HOME%\bin directory in your machine. Refer to the pre-requisites section in https://github.com/Microsoft/Mobius/blob/master/notes/running-mobius-app.md#pre-requisites. You need to download [winutils.exe](https://github.com/MobiusForSpark/winutils/blob/master/hadoop-2.6.0/bin/winutils.exe?raw=true) to something like `c:\temp\winutils\bin` and set `HADO

[2016-10-12 19:15] skaarthik commented on #569
@EdStone if you do not need additional info on this issue, please close it.

[2016-10-12 23:18] EdStone commented on #585
Hi  skaarthik:

Thank you very much for replying.

I actually do have %HADOOP_HOME% defined, %HADOOP_HOME%\bin in the path and winutils.exe in the correct location (please see console output below).

Could it be something related to Python installation (ex. do I need to install Python, if so, which version ... 2.7 or 3.5, etc.)?

Thank you,
Edward

my console input / output:

C:\devel\spark-clr_2.

[2016-10-12 23:32] skaarthik commented on #585
You do not need Python installed for Mobius. Where did you get winutils.exe from? There is a possibility that it may not be compatible with the hadoop version your Spark build is compiled against. Try downloading winutils.exe from the path I shared in my previous response. If that does not work, you need to look into Spark log to find out what exactly going on. Set log level to DEBUG in log4j.prop

[2016-10-13 00:28] EdStone commented on #585
Hi skaarthik:

Thank you for the quick reply.

1. I downloaded winutils.exe from the path that you provided
2. As per your suggestions, I changed Spark to generate the log file.  It is attached.  The error seems to be related to Python.

Thank you,
E

[application.log.txt](https://github.com/Microsoft/Mobius/files/525931/application.log.txt)

[2016-10-13 01:45] skaarthik commented on #585
You might be hitting the first error mentioned in [Troubleshooting Mobius](https://github.com/Microsoft/Mobius/blob/master/notes/troubleshooting-mobius.md#troubleshoot-errors-in-mobius-apps). Try adding `--conf spark.local.dir=c:\temp` to the command line when using sparkclr-submit.cmd.

[2016-10-13 03:18] EdStone commented on #585
Hi skaarthik:

Done that (please see the first line of the attached cmd.txt).
Does not seem to help.

The attached files are the command line output and spark log file from the latest run.

Thank you,
Edward
[application.log.txt](https://github.com/Microsoft/Mobius/files/526104/application.log.txt)
[cmd.txt](https://github.com/Microsoft/Mobius/files/526103/cmd.txt)

[2016-10-13 20:00] skaarthik commented on #585
Ed, I am running out of ideas on what could be causing this issue. For some reason, CSharpWorker.exe that is launched to perform the execution of C# code crashes. I do not know what might be causing that.

Are you using SparkClrPi.exe that is available in `examples` folder in Mobius release? If not, can you try using that? Here is the command to use:

`C:\devel\spark-clr_2.10-1.6.200\runtime\scrip

[2016-10-15 02:34] assafi commented on #585
FWIW, I'm hitting the same issue on a different project.
I have written a one-to-one replica of your word count example and I get:

16/10/14 19:29:41 ERROR Executor: Exception in task 0.0 in stage 0.0 (TID 0)
java.lang.NullPointerException
        at scala.collection.mutable.ArrayOps$ofRef$.newBuilder$extension(ArrayOps.scala:190)
        at scala.collection.mutable.ArrayOps$ofRef.newBuilder(Array

[2016-10-15 04:03] skaarthik commented on #585
@assafi are you able to run SparkPi example included in the Mobius release? Please confirm if you could run it using the command in my previous comment.

[2016-10-15 05:03] skaarthik commented on #585
[`TargetFramework`](https://msdn.microsoft.com/en-us/library/bb398202.aspx#Anchor_1) setting in all C# projects in Mobius repo is `.NET Framework 4.5`. I am wondering if the issue you are seeing is due to the difference in .NET framework versions between Mobius release and your project.

[2016-10-18 02:06] assafi commented on #585
Changing the target framework did not solve the problem. Here's the full stack trace:

[code]

[2016-10-18 06:06] skaarthik commented on #585
@assafi can you try the following two suggestions and let me know if you still see this issue?
* run your driver exe using sparkclr-submit.cmd launched from an admin command prompt
* copy your driver exe (& dependencies) to the same directory as the working Mobius example (Batch\pi directory under examples directory in Mobius release) and run launch your driver exe using sparkclr-submit.cmd. My gu

[2016-10-18 06:09] skaarthik commented on #585
BTW, thanks @EdStone and @assafi for trying out the suggestions and sharing the logs. Exception stack trace is not the same in your cases. So, the root cause seems to be different.

[2016-10-18 22:15] assafi commented on #585
It appears the source of the problem is Visual Studio, although I suspect spark/mobious has something to do with it as well.
Visual Studio 2015 creates a few locked files in the bin folder (3x *.vshost.* and a *.exe.config).
I suspect spark is trying to zip and unzip the content of this folder but fails because of these files.

The only way to make this run is to shutoff VS and remove these files,

[2016-10-18 22:24] assafi commented on #585
Another mitigation is to turn off the hosting service in VS and remove any app.config file of course.

[2016-10-19 17:02] skaarthik commented on #585
Thanks for the update, @assafi Good to know about the root cause of this issue and the work arounds.

[2016-10-19 23:19] assafi opened #587 "Missing SparkFiles.get implementation?"
I may be missing something, but I couldn't find the implementation for [SparkFiles.get()](https://spark.apache.org/docs/1.0.2/api/java/org/apache/spark/SparkFiles.html).
This method is needed to retrieve files pushed via `SparkContext.AddFile()`

[2016-10-22 20:09] jokerruslan opened #588 "spark machine learning"
Hello,friends.
Can I use spark machine learning through Mobius? I can not find this info. Where I can read more if it is possible

[2016-10-22 20:34] dwnichols commented on #588
Hi,

I believe MLlib is supported but SparkML is not supported. There is an issue opened to add SparkML support: #554.

[2016-10-22 20:52] jokerruslan opened #589 "execute python code from mobius"
Is any way to write code on python and then call or execute it using mobius?

[2016-10-22 20:53] jokerruslan commented on #588
What is may difference between mllib and sparkml?

[2016-10-22 21:26] dwnichols commented on #588
The spark docs should answer your questions. The main difference is MLlib was written on top of RDDs whereas SparkML is being written on top of DataFrames.

http://spark.apache.org/docs/latest/ml-guide.html

[2016-10-24 15:43] skaarthik commented on #589
@jokerruslan Mobius project never considered this scenario. Can you share more details on why would like write code in Python and use it with Mobius? If it is a scenario that others might benefit from, the project might consider supporting it.

[2016-10-24 15:46] skaarthik commented on #588
@jokerruslan - At present none of the Spark's ML APIs are available in Mobius. It is something Mobius project is considering to add if there is demand (the issue pointed out by @dwnichols is to track that).

[2016-10-24 15:48] skaarthik commented on #587
@assafi Mobius does not have that API. It should be easy to add that if you really need it. Please share your scenario if you can. Also, consider contributing by adding SparkFiles API to Mobius.

[2016-10-24 15:49] skaarthik commented on #585
@EdStone any updates from you on this issue?

[2016-10-24 15:49] skaarthik commented on #569
@EdStone can this issue be closed?

[2016-10-24 15:50] skaarthik commented on #516
added doc https://github.com/Microsoft/Mobius/blob/master/notes/spark-fsharp-mobius.md#interactive-apps

[2016-10-24 15:50] #516 closed

[2016-10-24 17:15] assafi commented on #587
The scenario is quite simple actually. We have some .dll and other config/data files that needs to be on the mapping worker. It is possible to add them using `sc.AddFile()` but retrieving them idiomatically is done using `SparkFiles.get()`

[2016-10-24 17:31] dsyme commented on #516
@skaarthik Great to see this :)

[2016-10-26 17:49] karvin89 opened #592 "CSharpWorker always invoked with [-m pyspark.worker]"
I noticed that Spark launches a CSharpWorker process for every task with [-m pyspark.worker] args. This cause the worker to always run in "SimpleWorker" mode and it looks like it's spawning multiple process for every Spark partition. Needless to say it wastes an awful amount of time (about 30% overall my job) just forking processes.

I'm running this in local mode on my Windows machine. I followed

[2016-10-28 00:50] skaarthik commented on #592
@qintao1976 can you confirm that this behavior is expected in Windows due to the constraint in Spark code on Windows? (https://github.com/apache/spark/blob/branch-2.0/core/src/main/scala/org/apache/spark/api/python/PythonWorkerFactory.scala#L41). I think ["spark.mobius.CSharpWorker.maxProcessCount" setting](https://github.com/Microsoft/Mobius/blob/master/notes/configuration-mobius.md) will not als

[2016-10-28 17:59] grecinto opened #594 "Compile to JVM ?"
Hi,

Could it be a good time to finally support compilation of c#/f# to JVM?

There are quite few big wins if this is the case. Example, there will be no need for mono and windows binaries. c#/f# will be like Java and Scala in "perceived" performance from the engineers.

Thanks

[2016-10-28 20:53] lukebuehler opened #595 "How to use Dataset API"
According to the issues here it seems that the Dataset API has been implemented but I cannot figure out how to use it. Are there any examples, samples?

[2016-11-02 05:42] skaarthik commented on #585
Closing due to inactivity

[2016-11-02 05:42] #585 closed

[2016-11-02 05:42] skaarthik commented on #569
Closing due to inactivity

[2016-11-02 05:42] #569 closed

[2016-11-02 05:44] skaarthik commented on #594
@grecinto - do you have any specific recommendation on how to make it happen? What tools/frameworks can be successfully employed for this?

[2016-11-02 05:58] skaarthik commented on #595
@lukebuehler Dataset API in Mobius is limited and that is by design. See the comments in https://github.com/Microsoft/Mobius/blob/master/csharp/Adapter/Microsoft.Spark.CSharp/Sql/Dataset.cs#L118. It is recommended to use DataFrame API in Mobius.

[2016-11-02 06:01] skaarthik commented on #587
Looks like it should be straightforward to add this to Mobius

[2016-11-02 06:31] grecinto commented on #594
It looks like a Microsoft c# compiler team task, to support generation of JVM bytecode as additional option aside from .net bytecode.

I have no clue how Satya Nadella will think about it, but at this time, making c# as a JVM language seems the best approach to keep Microsoft relevant in the Open Source world.

Thanks

Sent from my iPhone

[2016-11-02 13:42] lukebuehler commented on #595
@skaarthik , I see. But then my concern is how to make the best use Mobius, the comment states:

So, how would I go about using static typing, i.e. my own classes, and complex C# logic (thousands of lines of code) in Mobius, without having to push everything down into the DataFrame API (which in my case seems no possible)?

[2016-11-02 19:49] skaarthik commented on #595
@lukebuehler if you have complex C# logic and want to reuse existing classes, I think the best bet is to use RDD API even though it cannot leverage optimizations in DataFrame & Dataset API. Note that using lot of C# UDFs with DataFrame API (without static type checking) is not a good option either considering the performance overhead.

[2016-11-02 19:53] skaarthik commented on #594
@grecinto thanks for your suggestion. It would be great to get C# code can run in JVM but I doubt that any production-ready frameworks available out there for this scenario. Considering that the scope of what you are suggesting is well beyond the scope of Mobius project, I am closing this issue. Feel free to reopen it if you have any suggestions on what could be done in Mobius if someone is intere

[2016-11-02 19:53] #594 closed

[2016-11-02 19:55] skaarthik commented on #589
@jokerruslan I am closing this issue due to inactivity. Please feel free to reopen if you would like any feature request or clarification from Mobius project team.

[2016-11-02 19:55] #589 closed

[2016-11-02 22:15] lukebuehler commented on #595
@skaarthik Thank you this is what I was wondering!

Do you have, by any chance, an example how to use SQL to get a DataFrame and then to convert it to a C# class?

[2016-11-23 21:00] dwnichols opened #596 "Support for Cassandra"
It looks like Cassandra connectors for Spark are maintained through a third party packages. One specifically is by [Datastax](https://spark-packages.org/package/datastax/spark-cassandra-connector).

Is support for third party integrations, specifically Cassandra connectors, on the roadmap for Mobius?

Also, would you consider a pull request where Cassandra support is optionally included as part of

[2016-11-23 23:32] dwnichols commented on #596
I didn't see that there was an example folder and I just searching the SparkCLR solution.

The [CassandraDataFrame](https://github.com/Microsoft/Mobius/blob/master/examples/Sql/CassandraDataFrame/Program.cs) example answers a few questions.

[2016-11-24 01:19] skaarthik commented on #596
Good that the existing example answered few questions.
Mobius does not interact with any connector directly. Mobius relies on Spark's functionality to load the data to Spark - this is true for Cassandra as well.

[2016-11-24 23:52] dwnichols opened #597 "Problems running Mobius Perf tests"
Hi,

I'm looking to run the perf tests in localmode on my Windows 10 machine but am getting stuck on a few errors and hoping for some direction. I have fully built Mobius and the samples all run correctly without issue.

Here are a list of my relevant environment variables:

`SPARKCLR_EXT_JARS=C:\Code\Mobius\build\localmode\..\runtime\dependencies\spark-csv_2.10-1.4.0.jar,C:\Code\Mobius\build\loca

[2016-11-25 00:04] dwnichols commented on #597
I read through the `RunSample.cmd` file and found that it was specifying `--conf spark.sql.warehouse.dir=` within the command line it was generating. Adding that to mine fixed many of the problems. This is not reflected in the docs for localmode or the perf tests.

An updated summary:

- `RunRDDLineCount` ran successfully
- `RunRDDMaxDeletionsByUser` ran successfully, but threw two exceptions duri

[2016-11-25 22:21] #597 closed

[2016-11-27 01:35] Aaronontheweb opened #598 "Can't connect to DataStax Enterprise using Mobius 1.6.2"
Working on running the built-in Cassandra sample to connect to a local DataStax Enterprise installation I've setup, and using the 1.6.2 release branch of the source code (the latest version of Spark supported by DataStax) I'm not able to successfully submit any of my jobs due to the following error:

<summary>
JVM method execution failed: Constructor failed for class org.apache.spark.SparkContext

[2016-11-28 18:04] skaarthik commented on #598
Can you share Spark log messages as well? It will help identify why creating SparkContext failed.

BTW, are you able to use Mobius with Spark in local mode or use spark-shell.cmd to connect to your Spark cluster? These steps will help validating code locally and connectivity with remote Spark cluster before submitting your code to the remote cluster.

[2016-11-29 08:28] nghiadinhhieu opened #599 "Streaming Error"
Hello All,
I run samples Pi, Wordcount is done correctly. But when i run Kafka Example, it show errors:

[ERROR] [Microsoft.Spark.CSharp.Interop.Ipc.JvmBri
dge] - JVM method execution failed: Constructor failed for class org.apache.spar
k.SparkContext when called with 1 parameters ([Index=1, Type=JvmObjectReference,
 Value=3], )
[2016-11-29 15:23:53,370] [1] [ERROR] [Microsoft.Spark.CSharp.Interop

[2016-11-29 19:06] skaarthik commented on #599
The error message is ` Could not parse Master URL:`. Are you passing a valid value for `master` config setting? Can you share that value?

[2016-11-30 02:52] nghiadinhhieu commented on #599
Thanks for replying,
I run Kafka Example with localmode, and it shows errors like that, and here is my app.config:

<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ConsoleAppende

[2016-11-30 06:42] skaarthik commented on #599
Which version of Mobius are you using?
Do not manually create checkpoint directory. If the directory exists, Spark will try to load checkpoint from that directory. I guess that is failing for you.

If not creating checkpoint directory does not help, avoid using checkpoints until you figure out the root cause.

[2016-11-30 08:20] nghiadinhhieu commented on #599
I am using the lastest Mobius version in https://github.com/Microsoft/Mobius. All Unit Test is Passed. But in runtime i encounter some errors in streaming context.

I try do not manually create checkpoint directory and I've got  a new error:
{"JVM method execution failed: Constructor failed for class org.apache.spark.streaming.kafka.KafkaUtilsPythonHelper when called with no parameters"}

Here is

[2016-11-30 09:56] pablocastilla opened #600 "Calling a remote spark notebook"
Hi!

I don't know if Mobius is the right tool for this. But I would like to launch ipython notebooks in spark from a windows machine.

Is this possible with Mobius?

Thanks

[2016-11-30 11:22] JimSEOW commented on #554
which Milestone deal with Spark GraphX support?

[2016-11-30 20:24] skaarthik commented on #600
No. Mobius is not built for this scenario.

Closing the issue. Feel free to reopen for additional questions or comments.

[2016-11-30 20:24] #600 closed

[2016-11-30 20:28] skaarthik commented on #599
Can you share Spark's JVM logs? There is a failure in JVM that triggers Mobius failure. You should be able to do Web search and find info on how to set log4j settings for Spark.

[2016-11-30 20:39] skaarthik commented on #554
@JimSEOW there is not preset timeline for GraphX or any other feature that could be added to Mobius. It is all driven by demand. As with any open source project, if contributors see something to be a great fit for their interests or see a demand, they will contribute. If you would like to see GraphX support, consider creating a new issue and try to get the community interested in it. If you are in

[2016-12-01 02:12] Aaronontheweb commented on #598
@skaarthik where can I find the Spark logs for this? I assumed it was all being written out ephemerally to standard out.

I can use spark-shell.cmd and the DataStax Spark / Cassandra connector to contact our remote cluster.

[2016-12-01 04:08] nghiadinhhieu commented on #599
This is my command line:
sparkclr-submit.cmd --master local[*] --conf spark.local.dir=c:\temp --exe SparkClrKafka.exe C:\Mobius-master\examples\Streaming\Kafka\bin\Debug
And here is my Spark's JVM logs:

[spark.txt](https://github.com/Microsoft/Mobius/files/623669/spark.txt)

[2016-12-01 05:49] skaarthik commented on #599
Can you confirm if you updated code to set topic name and broker list?
https://github.com/Microsoft/Mobius/blob/master/examples/Streaming/Kafka/Program.cs#L24
https://github.com/Microsoft/Mobius/blob/master/examples/Streaming/Kafka/Program.cs#L28

[2016-12-01 07:15] nghiadinhhieu commented on #599
Yes, I've already set these parameters, here is my code:

 var sparkContext = new SparkContext(new SparkConf().SetAppName("SparkCLRKafka Example"));
            const string topicName = "test";
            var topicList = new List<string> {topicName};
            var kafkaParams = new Dictionary<string, string> //refer to http://kafka.apache.org/documentation.html#configuration
            {

[2016-12-02 05:24] skaarthik commented on #599
If you have set valid Kafka parameters, I cannot think of a reason for the failure. There are no exceptions in Spark logs you shared. So it is not clear what is happening. Setting the log level to DEBUG and see if you find anything useful.

[2016-12-02 05:27] skaarthik commented on #598
@Aaronontheweb check out https://www.mapr.com/blog/how-log-apache-spark for info on logging in Spark.

Are you using the correct version of Spark (1.6.*) for the version of Mobius (1.6.2) you are using?

[2016-12-02 07:36] nghiadinhhieu commented on #599
Yes, in Spark log I can not see any errors, but when i run debug projects I've got 2 errors at 2 code lines:

1. SparkCLRIpcProxy.JvmBridge.CallConstructor("org.apache.spark.streaming.api.java.JavaStreamingContext", new object[] { checkpointPath }); ==> even I let spark creates checkpointPath, it will encounters errors  when it exists.
Exception is:
{"JVM method execution failed: Constructor faile

[2016-12-02 09:12] ramkumarravy opened #601 "Is Mobius C# assembly supported in .NET CORE project ?"
Hi,

I'd like to know, whether Mobius C# assembly (Microsoft.Spark.CSharp.Adapter.dll) is supported in .NET CORE project. I've tried migrating the classes of existing .NET Framework 4.5 - Adapter library to .NET CORE class library, but many classes were not supported in CORE project. So, could you please let me know any solution for this ?

Thanks,
Ramkumar

[2016-12-03 01:30] skaarthik commented on #599
Since you are able to run Pi or WordCount, I doubt that the failure has anything to do with CSharpBackend or the DEBUG messages copied above.

To keep the investigation simple, try to run your driver program using non-debug Mobius setup & Spark local mode (instead of using a remote Spark cluster) and share the entire output you see in the console.

[2016-12-03 01:32] skaarthik commented on #601
Ramkumar - Mobius has not been ported to .NET Core yet and it does not work in .NET Core precisely for the reasons you stated in your mail. I assume you want .NET Core support to use Mobius in non-Windows environment. Consider using Mono if that is the case.

[2016-12-03 05:16] nghiadinhhieu commented on #599
Here is my console log at local mode:

...        at io.netty.channel.AbstractChannelHandlerContext.invokeChannelRead(Abst
ractChannelHandlerContext.java:308)
        at io.netty.channel.AbstractChannelHandlerContext.fireChannelRead(Abstra
ctChannelHandlerContext.java:294)
        at io.netty.handler.codec.MessageToMessageDecoder.channelRead(MessageToM
essageDecoder.java:103)
        at io.netty.c

[2016-12-03 05:48] skaarthik commented on #599
Looks like something went wrong when reading checkpoint path.
Have you ruled out any issue in [HADOOP_HOME or winutils.exe](https://github.com/Microsoft/Mobius/blob/master/notes/running-mobius-app.md#pre-requisites) by using HDFS paths in [word count](https://github.com/Microsoft/Mobius/blob/master/notes/running-mobius-app.md#wordcount-example-batch) or [word count streaming](https://github.com/Mi

[2016-12-04 03:07] Aaronontheweb opened #603 "Unable to launch sparkclr-shell on Spark 1.6.2"
Wrote the following script to install **all** of the dependencies needed to run Mobius automatically, including the JDK and Mobius itself: https://github.com/petabridge/spark-installer-windows/blob/master/installers/1.6.2/install-spark1.6.2.ps1

Works great thus far. Can launch the Scala Spark shell and connect to my DSE instances, no problem.

I ran into the following hiccup when attempting to la

[2016-12-04 05:32] skaarthik commented on #603
Classpath should be of the format `%SPARK_HOME%\lib\spark-assembly-1.6.2-hadoop2.6.0.jar;%SPARKCLR_HOME%\lib\spark-clr_2.10-1.6.200.jar`.

The first part is missing in the statement you copied above and cp starts with `;`. Make sure that you have Spark

[2016-12-04 17:50] Aaronontheweb commented on #603
@skaarthik yep, SPARK_HOME is set to C:\Spark\spark-1.6.2-bin-hadoop2.6.0 and the spark-assembly-1.6.2-hadoop2.6.0.jar is in the lib sub-folder.

[2016-12-05 06:01] skaarthik commented on #603
If that is the case, I do not know what's going on. The classpath is set at https://github.com/Microsoft/Mobius/blob/branch-1.6/scripts/sparkclr-submit.cmd#L47. Try to echo `LAUNCH_CLASSPATH` to find out what is assigned to it.

[2016-12-06 00:15] Aaronontheweb commented on #603
Think I found the issue: https://github.com/Microsoft/Mobius/blob/branch-1.6/scripts/sparkclr-submit.cmd#L32

Here's what I got on my console when I use `echo LAUNCH_CLASSPATH`: %%d;C:\Mobius\spark-clr-1.6.2\runtime\lib\spark-clr_2.10-1.6.200.jar

[2016-12-06 00:19] Aaronontheweb commented on #603
Oh snap! Found the issue. Not Mobius' fault. PEBKAC. Issue is I had an extra zero in the name of the SPARK_HOME folder.

[2016-12-06 00:19] #603 closed

[2016-12-06 00:34] Aaronontheweb commented on #598
I'll give this another try - got the Spark Shell to connect to DSE on 1.6.2.

[2016-12-06 09:00] nghiadinhhieu commented on #599
I tested my hadoop configs work well.
I think my issues relating to the calling JVM StreamingContext functions like this: "SparkCLRIpcProxy.JvmBridge.CallConstructor("org.apache.spark.streaming.api.java.JavaStreamingContext"
and the function:
SparkCLRIpcProxy.JvmBridge.CallConstructor("org.apache.spark.streaming.kafka.KafkaUtilsPythonHelper", new object[] { });
I can not figure out the problems he

[2016-12-10 00:42] skaarthik commented on #599
Unfortunately I am not able to reproduce this error. I will try out a few things during the holidays to see if I can get the same error for further investigation.

[2016-12-12 21:01] dwnichols commented on #596
That makes sense, thanks Kaarthik.

I've run into another issue, along the same line. Each connector implementation can provide RDD implementations. These implementations may have extensions to the general scala RDD api to make data access more efficient for the underlying store. See [Cassandra data selection, filtering and grouping](https://github.com/datastax/spark-cassandra-connector/blob/maste

[2017-01-07 20:47] abatishchev commented on #340
Any update on this, please?

[2017-01-07 20:55] abatishchev commented on #601
@ramkumarravy  it's Core by the way, not CORE, it's not an abbreviation

[2017-01-07 21:12] dwnichols commented on #340
I have a active pull request open which addresses this: #605.

[2017-01-09 18:40] abatishchev commented on #340
Oh, yes, indeed. Posted this comment before seeing those two prs. Does it make sense to close the issue to do not fork the discussion on this matter?

[2017-01-10 23:05] dwnichols commented on #596
@skaarthik any word on this?

[2017-01-11 05:29] skaarthik commented on #596
@dwnichols - your assessment is correct. For RDD (and Unstructured Streaming), extensions are needed for data sources like Cassandra. Mobius has implemented extensions for Kafka and Eventhub for unstructured streaming. As far as RDDs, Mobius does not have any extension including the one that is needed for Cassandra. It is not too hard to implement such extensions for Mobius but at the same time it

[2017-01-20 06:35] xbyang18 commented on #450
I have happened the same problem,and I add -jars xxx.jar,xxx.jar in spark submit,so it was ok,but I
dont know why it is not found classpath in lib

[2017-01-26 11:31] sirsh opened #607 "linux setup instructions"
struggling with the instructions to get setup on Linux for the first time.
perhaps instructions could be clearer without refering back and forth between the widows case (for people like me who are unforgivably bad at following insructions)
downloaded a recent release and tried to run one of the examples on a (local) spark cluster (which I happily use with python or scala)
could someone add a compl

[2017-01-28 06:17] skaarthik commented on #340
Merged b95520eff8ea63914fd58bb83a932d1015bcce46

[2017-01-28 06:17] #340 closed

[2017-01-28 06:18] #540 closed

[2017-01-28 06:23] skaarthik commented on #66
Details on F# support in Mobius available at https://github.com/Microsoft/Mobius/blob/master/notes/spark-fsharp-mobius.md.

Merged Tuple support in b95520eff8ea63914fd58bb83a932d1015bcce46

Closing this issue. Please reopen or create a new issue if needed.

[2017-01-28 06:23] #66 closed

[2017-01-28 06:26] skaarthik commented on #598
@Aaronontheweb - closing this issue due to inactivity. Feel free to reopen if needed.

[2017-01-28 06:26] #598 closed

[2017-01-28 06:26] skaarthik commented on #596
@dwnichols - closing this issue for now. Feel free to reopen if needed.

[2017-01-28 06:26] #596 closed

[2017-01-28 06:28] skaarthik commented on #601
@ramkumarravy - closing this issue as the question is answered. Feel free to rephrase the title of the issue and reopen if needed.

[2017-01-28 06:28] #601 closed

[2017-01-28 06:29] skaarthik commented on #440
Closing this issue for now

[2017-01-28 06:29] #440 closed

[2017-01-28 06:29] skaarthik commented on #302
closing the issue due to inactivity

[2017-01-28 06:29] #302 closed

[2017-01-28 06:30] skaarthik commented on #164
Closing the issue to due inactivity

[2017-01-28 06:30] #164 closed

[2017-01-28 06:30] #102 closed

[2017-01-28 06:31] skaarthik commented on #271
Closing due to inactivity

[2017-01-28 06:31] #271 closed

[2017-01-28 06:31] skaarthik commented on #438
Closing due to inactivity

[2017-01-28 06:31] #438 closed

[2017-01-28 06:32] skaarthik commented on #477
Closing due to inactivity

[2017-01-28 06:32] #477 closed

[2017-01-28 06:50] skaarthik commented on #607
Are you getting any errors when trying out examples?

[2017-01-28 09:51] skaarthik commented on #592
@karvin89 - closing this issue due to inactivity. Feel free to reopen if needed.

[2017-01-28 09:51] #592 closed

[2017-01-28 09:56] skaarthik commented on #595
@lukebuehler - I do not have an example for the scenario you described.

Closing this issue. Feel free to reopen if needed.

[2017-01-28 09:56] #595 closed

[2017-01-28 09:57] skaarthik commented on #599
@nghiadinhhieu - are you still having this issue?

[2017-01-28 10:02] skaarthik commented on #572
PR #610

[2017-01-28 10:02] #572 closed

[2017-01-28 10:03] skaarthik commented on #570
PR #610

[2017-01-28 10:03] #570 closed

[2017-01-28 10:04] skaarthik commented on #588
Closing this issue as #554 is open

[2017-01-28 10:04] #588 closed

[2017-01-28 10:05] skaarthik opened #611 "upgrade master to Spark 2.1.0"

[2017-02-08 02:53] nghiadinhhieu commented on #599
Yeah, I upgraded version 2 release, but it's still issue above. Thanks

[2017-02-08 07:53] hongjiedai opened #618 "Possible ways to check the status of a job"
Is there any way to get the current status of a submitted job?

I read the API and find that I can get the status as follows.

sparkContext.StatusTracker.GetJobInfo(0).Status

If I use the above code:
- Dose the ID of a job accumulate from '0'?
- Is the value returned from the above code the same with the string defined in
https://spark.apache.org/docs/1.4.0/api/java/org/apache/spark/JobExecutionS

[2017-02-13 21:05] dwnichols commented on #618
Hi @hongjiedai ,

Yes, you are correct. `sparkContext.StatusTracker.GetJobInfo(0).Status` is the job execution status from job id 0. Currently the method returns a string representation of the enum you linked. It would be nice if this was instead exposed as a strongly typed enum rather than a string.

[2017-02-13 21:33] dwnichols commented on #618
I have created a pull request to expose an enum rather string: #622.

[2017-02-16 01:47] Aaronontheweb opened #623 "Jupyter notebook integration?"
Are there any docs or examples out there that explain how to launch Mobius jobs from within a Juypter notebook (or equivalent, like Azure Notebooks?)

[2017-02-23 15:34] dwnichols commented on #618
Hi @hongjiedai, I'm closing this issue as it looks like its the answer. #622 is merged to master.

[2017-02-23 15:34] #618 closed

[2017-02-25 00:47] im281 opened #624 "Running Word Count example in Visual Studio debug mode"
I can run the wordcount example using the following commands:

sparkclr-submit.cmd --exe SparkClrWordCount.exe C:\Users\Owner\OneDrive\Source\Repos\Mobius-master\examples\Batch\WordCount\bin\Debug file:///C:/Users/Owner/OneDrive/Source/Repos/Mobius-master/examples/testfile.txt

However, when I try to run in debug mode in visual studio I get this error:
{"Value cannot be null.\r\nParameter name: pa

[2017-02-27 11:39] Mrsevic commented on #624
Either change the code or run it in command window.

[2017-02-27 14:24] dwnichols commented on #624
@Mrsevic is correct.

You need to run the program within the command prompt, outlined [here](https://github.com/Microsoft/Mobius/blob/master/notes/windows-instructions.md#running-in-local-mode-dev-environment). The [debugging docs](https://github.com/Microsoft/Mobius/blob/master/notes/running-mobius-app.md#debug-mode) also may be helpful depending on your goals.

As for accepting more than one fil

[2017-02-27 17:22] im281 commented on #624
Great thanks! It works

[2017-02-27 17:42] #624 closed

[2017-02-27 17:43] dwnichols commented on #624
You're welcome.

[2017-02-27 18:52] im281 opened #625 "JavaRDD to C#"
Hi, I was wondering what the translation would be (From JavaRDD) I have a flatmap function that calls a single method (detector.GetClusters()) and writes out key value pairs

[code]

[2017-03-01 14:30] Mrsevic opened #626 "Static method collectAndServe error"
I have CsharpWorkPath set up as well as the port, I have tried with the version from my local /bin/debug folder and the driver version in  the C:\sparkCLR\runtime\bin. I am trying to run Pi program.
The exact error is:
{"JVM method execution failed: Static method collectAndServe failed for class org.apache.spark.api.python.PythonRDD when called with 1 parameters ([Index=1, Type=JvmObjectReference,

[2017-03-01 14:58] dwnichols commented on #626
Hi @Mrsevic. This error is covered in the [troubleshooting documentation](https://github.com/Microsoft/Mobius/blob/master/notes/troubleshooting-mobius.md). Helpfully that helps.

[2017-03-01 15:35] Mrsevic commented on #626
As already noted in original post I have already set up that parameter.

[2017-03-01 15:46] dwnichols commented on #626
Okay, I must have missed that.

Can you provide steps to reproduce this error? Do the Mobius examples run successfully?

[2017-03-01 18:35] skaarthik commented on #626
@Mrsevic - are you getting this error only in debug mode?

[2017-03-01 18:40] Mrsevic commented on #626
Hi Kaarthik. Thank you for your response. No I am afraid that I am getting the error also in production, release mode.

[2017-03-01 18:54] skaarthik commented on #625
Mobius does not have `flatMapToPair` on RDD. You need to use [FlatMap](https://github.com/Microsoft/Mobius/blob/master/csharp/Adapter/Microsoft.Spark.CSharp/Core/RDD.cs#L229) to implement this behavior similar to how you would be doing it in Scala.

[2017-03-01 19:04] skaarthik commented on #623
This is not supported out of the box. Few months back, I tried using IFsharp kernel with JuPyter and got the basic functionality working. However, for some reason Jupyter kept restarting IFSharp kernel and that needed "reestablish session" feature in Mobius CLR-JVM bridge. I have not tried recently but if the IFSharp restart issue is already addressed, then it might be possible to use Jupyter & IF

[2017-03-01 19:04] skaarthik commented on #607
Closing due to inactivity. Feel free to open with additional details.

[2017-03-01 19:04] #607 closed

[2017-03-02 02:08] dwnichols commented on #626
@Mrsevic : are you running the example in local mode? You can swap to local mode by changing your environment variables to point to the Mobius build directory. For example:
[code]

If not, can you swap to local mode and try to run it? Also, if you're not running local mode, you'll need to verify that the spark version you are running against is the same as your Mobius build. Currently, the master

[2017-03-02 09:38] jalaluddin opened #627 "Cannot run program "./SparkClrPi.exe""
Hello,

I am trying to run the PI example in a standalone cluster mode. Everything seems ok but at the end i am getting: ERROR CSharpRunner: Cannot run program "./SparkClrPi.exe": error=2, No such file or directory

I used the following command & and i am using Ubuntu 14.04

**./sparkclr-submit.sh --deploy-mode cluster --master spark://ip-10-60-9-31.ec2.internal:6066 --remote-sparkclr-jar hdfs://h

[2017-03-02 20:52] Mrsevic commented on #627
Maybe I am wrong but it may be worth excluding debug and driver folder by your AV.

[2017-03-02 21:59] skaarthik commented on #626
@Mrsevic - +1 on suggestion from @dwnichols . Try running the example for the Mobius release and report back the result instead of building the example in your machine.

[2017-03-02 22:01] skaarthik commented on #627
@jalaluddin were you able to use SparkClrPi.exe from a local folder before trying out hdfs-based driver program? I suggest trying that out first.

[2017-03-02 22:20] Mrsevic commented on #626
@dwnichols @skaarthik  Thank you for your support.

I have checked again all the version and yes I have spark 2.0.2 and all the other necessary prerequisites.

I do want to run the examples again using Standalone Cluster Client mode, but I have tried with local mode as well.

In order to  do this you have to build solution first as stated in documentation. Everything was successfully built.

In cl

[2017-03-02 22:45] dwnichols commented on #626
The downloading of some dependencies is within the run samples scripts. You can find the samples script within the Mobius project: .\build\localmode\RunSamples.cmd

[2017-03-03 04:18] jalaluddin commented on #627
@skaarthik, yes i tried that first and it worked fine.

[2017-03-03 04:19] jalaluddin commented on #627
@skaarthik, yes i tried that first and it worked fine.

[2017-03-03 04:59] jalaluddin commented on #627
Can you tell me with my configuration, where the CSharpRunner is trying to look for SparkClrPi.exe? is it looking into the driver folder or is it in user home? I am creating pi.zip with all the dlls in PI example folder wich contains both the CSharpRunner.exe and SparkClrPi.exe. Btw, I saw a post in Stackoverflow that I need to create a bash named CSharpWorker.sh.exe & SparkClrPi.sh.exe which is n

[2017-03-03 21:32] Mrsevic commented on #626
Thanks.

I have set these variables like you have said:
set SPARKCLR_EXT_JARS=C:\mobius-driver\Mobius-master\build\runtime\dependencies\commons-csv-1.4.jar, C:\mobius-driver\Mobius-master\build\runtime\dependencies\spark-csv_2.10-1.4.0.jar, C:\mobius-driver\Mobius-master\build\runtime\dependencies\spark-streaming-kafka-0-8-assembly_2.11-2.0.0.jar

set SPARKCLR_HOME=C:\mobius-driver\Mobius-master\b

[2017-03-04 18:41] Mrsevic opened #628 "Cannot build or debug on Windows 7 X64"
First issue is in building the project. I get the following error whilst trying to build with either VS 2017 or VS 2015.

Add-Type : Cannot add type. The assembly 'system.io.compression.filesystem' cou
ld not be found.
At C:\Mobius-master\build\localmode\downloadtools.ps1:595 char:9
+ Add-Type <<<<  -assembly "system.io.compression.filesystem"
    + CategoryInfo          : ObjectNotFound: (system.

[2017-03-05 02:44] skaarthik commented on #628
What versions of PowerShell and .NET are you using?

[2017-03-05 13:37] Mrsevic commented on #628
I have been using PowerShell 2. After upgrading problem is fixed but I cannot build solution due to incompatibility with VS 2017 RC probably.

I installed VS 2015 afterwards but it seems that there are problems running developer command windows because of some issues with path. I'll try reinstalling and building again.

I can finally connect to the debugger, run the solution in release mode but st

[2017-03-06 00:22] skaarthik commented on #628
I am not sure what you mean by this. Can you provide details?

BTW, you can only debug driver program when you step through the driver code. Worker-side execution may involve launching of CSharpWorker.exe (from JVM) and you cannot step into that code by debugging driver program.

[2017-03-06 00:32] skaarthik commented on #627
If you could run the example using a local folder, then you do not have to follow the instructions to have *.sh.exe files.

The code path you are interested in is in [CSharpRunner](https://github.com/Microsoft/Mobius/blob/master/scala/src/main/org/apache/spark/deploy/csharp/CSharpRunner.scala#L49). There is a possibility that unzip failed or files were unzipped to a different location (or simply a

[2017-03-07 09:37] ramkumarravy opened #629 "Need help with the Mobius workflow understanding"
Hi,

I'd like to contribute for Spark-Machine Learning in Mobius. I did some study on the Mobius workflow and with that I've also added support for a missing API "stat" in the Dataframe class and yes that worked well too.

For your reference, please find the sample code snippet from below.

DataFrame Stat - Correlation API call:
![api_call](https://cloud.githubusercontent.com/assets/22632483/23650

[2017-03-08 07:37] Mrsevic commented on #628
It is essentially the same issue as before(: Static method collectAndServe failed for class org.apache.spark.api.python.PythonRDD)and now in my Kafka processing program I get the error on

Honestly I just want to debug some of mine samples and my new Kafka project. I have no intentions into debugging Mobius core itself. I have tried local mode as well it is only working on release not in debug mod

[2017-03-08 09:37] Mrsevic commented on #599
Hi @nghiadinhhieu have you had any luck in solving this issue?

[2017-03-09 21:32] skaarthik commented on #629
The implementation looks good to me on a quick look. What issue are you facing with this code?

[2017-03-09 21:36] skaarthik commented on #628
Maybe there should be a new issue to track Mobius support in VS 2017. The issue in screenshot seems like a different one. Something might have changed in KafkaUtilsPythonHelper resulting in this failure. I will investigate and get back on this.

[2017-03-10 04:28] ramkumarravy commented on #629
Thanks for addressing my query. As I said earlier, the above code doesn't have any problem and in fact it worked well. All I wish to do is to add support for "**MLlib**" and for that when I tried the same way(as above), I couldn't achieve it.

When I went through the workflow, it seems like the use of the Proxy (with JVM call) made it easy to add support for an existing function. But, there was no

[2017-03-10 05:36] tfiasco opened #630 "A serielization problem in spark sql"
Hi,

This code works well:
[code]

while this raises a `System.Runtime.Serialization.SerializationException`  :
[code]

To solve the problem, I made a `SerializeHelper` Class  :
[code]

But this raise the error either :
[code]

This is the only one works:
[code]

I wonder if this is a bug or not.
Is there a better way to pass a string variable to `DataFrame.Select()` and `DataFrame.Map()` method i

[2017-03-10 09:15] Mrsevic commented on #628
Could you be so kind and name the versions of zookeeper and kafka that you have used in past, as well as the versions of mobius driver, spark and hadoop?

Thanks

[2017-03-10 23:08] skaarthik commented on #629
Can you share more details on this (error message, build error etc.)?

Unfortunately we do not have any documentation to explain the code components. You seem to be on the right track with the implementation for `Corr`. If you share details on the errors you are getting, one of the contributors might be able to help

[2017-03-10 23:10] skaarthik commented on #630
This seems to be an expected behavior. Can you share the exception stack trace for confirmation?

[2017-03-10 23:14] skaarthik commented on #628
I have used Kafka 0.8 with Mobius and the [jar that is released as dependency](https://github.com/Microsoft/Mobius/blob/master/build/localmode/downloadtools.ps1#L381) is for this version of Kafka.

[2017-03-11 06:53] jigjosh opened #631 "Cannot able to run or debug SparkClrWordCount examples on Window 10"
hi !
not able to  run or debug the example SparkClrWordCount  getting following error

**JVM method execution failed: Constructor failed for class org.apache.spark.api.csharp.CSharpRDD when called with 9 parameters ([Index=1, Type=JvmObjectReference, Value=11], [Index=2, Type=Byte[], Value=System.Byte[]], [Index=3, Type=JvmObjectReference, Value=8], [Index=4, Type=JvmObjectReference, Value=9], [In

[2017-03-11 07:06] skaarthik commented on #631
You are probably using an incompatible version of Spark. Make sure you are not using Spark 2.1.0.
Based on the logs above, I can say that Mobius version used is 2.0.200. For this version of Mobius, Spark version should be 2.0.*.

[2017-03-11 09:09] jigjosh commented on #631
yes that is the issue

thanks for help !!!!.

[2017-03-11 11:09] tfiasco commented on #630
I'm using a Chinese operating system.
The Chinese word "未标记为可序列化" means "Not marked as serielizable".

[code]

[2017-03-11 19:23] dwnichols commented on #629
@ramkumarravy : Feel free to open a pull request with your code. We can work with you to fix any issues you're experiencing and get it ready to be merged into master.

[2017-03-12 06:49] #631 closed

[2017-03-13 14:33] medvekoma opened #632 "SparkSession.SparkContext is internal"
I am trying to use the DataFrame API along with some broadcast variables, but I cannot reference SparkSession's SparkContext property because it is internal.

Is there any specific reason for marking this property "internal"? Is there any other way to use SparkSession and SparkContext in the same application?

[2017-03-14 05:58] skaarthik commented on #632
@medvekoma - If you can do that in scala implementation but not in C#, it should be fixed in Mobius. I remember seeing an issue reported on this few months back but do not recall the details or the resolution. I will try to locate that issue. In the meantime, feel free to send PR if you are interested in fixing this.

[2017-03-14 06:01] skaarthik commented on #630
This is expected behavior because C# compiler does not make dynamically generated classes serializable. You can see in Mobius code that Serialization helpers are used to avoid this exception.

[2017-03-14 07:34] tfiasco commented on #630
OK. Thanks very much.

[2017-03-14 10:05] jigjosh opened #633 "not able to run or debug SparkCLRKafka Application on Windows 10 with kafka on docker"
**not able to run or debug SparkCLRKafka Application**

getting following error

[sparkclr-submit.cmd] SPARKCLR_JAR=spark-clr_2.11-2.0.200.jar
[sparkclr-submit.cmd] LAUNCH_CLASSPATH="D:\Mobius\runtime\lib\spark-clr_2.11-2.0.200.jar;D:\Spark\jars\*"
[sparkclr-submit.cmd] Command to run --name SparkClrKafka --class org.apache.spark.deploy.csharp.CSharpRunner D:\Mobius\runtime\lib\spark-clr_2.11-2.0.

[2017-03-14 15:09] Mrsevic opened #634 "Error whilst building on Windows 10"
In the past I have build the project on my Windows 10 + VS 2015 configuration with absolute zero problems. However recently I encounter these errors:
http://prntscr.com/ejv2d2
I really do not know where did this error came out from.

Thanks

[2017-03-14 20:12] perthcha opened #635 "ClassNotFoundException when running EventHub Streaming Example"
### Issue:
I am getting java.lang.ClassNotFoundException: org.apache.spark.streaming.eventhubs.EventHubsUtils when running the EventHub streaming example.

### Details:
I built the SparkCLREventHubsExample with minimal changes (just the parameter changes in eventHubsParams):

[code]

I ran the exe in HDInsights Spark cluster via the following command:

[code]

When the code executes, it fails when

[2017-03-14 20:19] perthcha commented on #635
I just saw that I might need to download jar files before being able to execute this https://github.com/Microsoft/Mobius/blob/master/notes/running-mobius-app.md#wordcount-example-batch

I'll try that now.

[2017-03-14 22:56] #635 closed

[2017-03-15 00:14] perthcha opened #636 "createUnionStream failed for EventHub sample"
### Issue:

Running the EventHub sample in HD Insights Spark cluster failed with this error: `[ERROR] [Microsoft.Spark.CSharp.Interop.Ipc.JvmBridge] - JVM method execution failed: Static method createUnionStream failed for class org.apache.spark.streaming.api.csharp.EventHubsUtils`

### Details:

I am trying to run the EventHub example. Here's my event hub parameter and the relevant part of the co

[2017-03-15 18:12] ramkumarravy commented on #629
Hi,

I’ve added support for Spark - Machine Learning (MLlib) – Linear Regression Model class in Spark CLR project and have added a class “MLlib” with “LinearRegrssionModel()” API  in Mobius CSharp Adapter to perform its function.

Please find the sample code snippets from below:

Linear Regression Model - API call:

![api_call](https://cloud.githubusercontent.com/assets/22632483/23963866/a78c485e-

[2017-03-16 10:58] jayprajapati857 opened #637 "Not able to Run sparkclr-shell or sparkclr-submit.cmd?"
Hello,
I am trying to run sparckclr-shell and sparckclr-submit.cmd both but i am not getting any error or any output how do i know there is any error or its running??
i am begginer to Mobius. can anyone help me to run mobius on my machine?
i tried it on windows 7 with visual studio 2015 community and also try with latest preview release but still doesnt showing any error or any output
Thanks

[2017-03-16 19:13] dwnichols commented on #637
@jayprajapati857 : can you verify that you have been able to build and run the Mobius samples?

`./build/Build.cmd
./build/localmode/RunSamples.cmd`

[2017-03-17 06:43] jayprajapati857 commented on #637
@dwnichols : i am trying to build but i got an Exception for "Open-read" and "ExtractToFile" because when i am building mobius from Mobius\build\Build.cmd the files are downloaded and in this files one file in tools/TarTool.zip is broken there for the build is not succeed.
So i downloaded a Preview version spark-clr_2.11-2.0.200 and then setting all environment variables i try to access sparkclr-s

[2017-03-17 20:45] perthcha opened #638 "The examples in the zip file in the release have not been updated"
The example codes in the main branch has already been updated to use Tuple instead of KeyValuePair, but the example codes in the 2.0.200 zip Release here https://github.com/Microsoft/Mobius/releases still use KeyValuePair (although the implementation has already been updated).

People using the examples from that Release zip file will run into issues with a few functions not found. The zip package

[2017-03-17 21:33] perthcha commented on #636
The issue here is that the versions of jar files suggested are not compatible with Mobius 2.0.200 examples. I will post the exact detail.s

[2017-03-17 22:11] perthcha commented on #636
The jar dependency files posted on this page https://github.com/Microsoft/Mobius/blob/master/notes/running-mobius-app.md#standalone-cluster

- qpid-amqp-1-0-client-0.32.jar
- qpid-amqp-1-0-common-0.32.jar
- eventhubs-client-0.9.1.jar
- spark-streaming-eventhubs_2.10-0.1.0.jar

 do NOT work with Mobius 2.0.200.

I have experimented a few versions, and verified that the following combination works:

[2017-03-19 15:39] dwnichols commented on #637
Hi @jayprajapati857 : It looks like the build number for one of our dependencies has changed. I've updated the build script. Once it passes the tests, can you please pull the latest changes and try again? Thanks.

[2017-03-19 15:48] dwnichols commented on #638
@skaarthik : it looks like each of the zips contain old code within the examples folder.

[2017-03-19 16:51] dwnichols commented on #634
@Mrsevic : that looks to be a problem with one of the build dependencies. The direct download link changed. I have updated the build script. Can you pull the latest and try again?

[2017-03-19 16:56] dwnichols commented on #637
As for running `sparkclr-shell.cmd`, can you please provide your environment variables for:

[code]

Also, provide a screenshot or copy/paste the text from your terminal. Thanks

[2017-03-19 17:00] dwnichols commented on #633
@jigjosh : can you please provide the command line you used to invoke `sparkclr-submit.cmd` ? Thanks

[2017-03-19 17:08] dwnichols commented on #629
Hi @ramkumarravy, could you please create a pull request containing your changes. Based on the above code, I would create two separate pull requests, one for the `stat` API another for the `linearRegrssionModel`. Pull requests are specifically designed for the code review process.

[2017-03-19 17:45] dwnichols commented on #632
@medvekoma is correct. The sparkContext is publicly available within the SparkSession class. Its defined in a constructor parameter [here](https://github.com/apache/spark/blob/master/sql/core/src/main/scala/org/apache/spark/sql/SparkSession.scala#L78).

[2017-03-19 18:21] Mrsevic commented on #634
I am getting the same mistake I am afraid. It was building before, only thing I did was to install maven on my machine and setting up envieromental and user variables for it. Here's the full log:

 Directory of C:\Mobius-2.0.200\build

19-Mar-17  07:06 PM    <DIR>          .
19-Mar-17  07:06 PM    <DIR>          ..
28-Jan-17  08:19 PM             7,784 Build.cmd
28-Jan-17  08:19 PM             4,1

[2017-03-19 18:51] dwnichols commented on #634
Hi, it looks like you haven't pulled the latest changes. From the output, the build is still attempting to download TarTool build 21031, when it should be 21046. This is the latest [change](https://github.com/Microsoft/Mobius/commit/a402cb4471d9f35efa71b1ec690f473226498569) you're missing, which is on master.

`[downloadtools.Download-File] Start downloading http://download-codeplex.sec.s-msft.com

[2017-03-19 20:48] Mrsevic commented on #634
Some cache issues I guess. Everything works flawlessly now, thanks.

I've seen that error was related to corrupt file and I've tried replacing, with no luck though.

[2017-03-19 21:28] Mrsevic commented on #636
@perthcha may I get your e-mail? I have some question. Thanks

[2017-03-20 04:30] jayprajapati857 commented on #637
Hello @dwnichols: Thanks its working now and, succeed to build and samples are also running.

[2017-03-20 13:58] dwnichols commented on #637
Great to hear!

[2017-03-20 18:52] perthcha commented on #636
Could you post the problem here instead if it's related to this issue? I frequently check my github account and should be able to answer the questions here.

If it's something else, please feel free to open a new issue and tag me. I will take a look as well.

[2017-03-20 20:04] Mrsevic commented on #636
I will tag you then. It is related to Kafka streaming issues.

[2017-03-20 21:01] skaarthik commented on #638
@perthcha thanks for reporting.
@dwnichols thanks for looking into this.

Examples always use the last stable release. The way we package examples worked fine for releases within the same major version. In the case of last stable release, there was a change in major version and that's why examples were broken. When we build a stable release, examples cannot reference that same build. So, when Mobi

[2017-03-20 21:02] skaarthik commented on #636
@perthcha thanks for getting to the root cause of the issue and sharing your findings.

[2017-03-20 22:31] #630 closed

[2017-03-21 02:54] tfiasco opened #642 "Error in stopping SparkContext causes failed status in YARN cluster mode."
Hello, I'm running a Mobius application in yarn cluster mode.
When the application is nearly finished, an error occurs in Spark logs on the failure to delete userFiles directory under Spark temp directory. Mobius tells me the error may be ignored for now, but the error reports a failed status to yarn cluster (which is actully successful). In consequence, yarn starts another node to run this job, a

[2017-03-21 03:46] #637 closed

[2017-03-21 03:49] #632 closed

[2017-03-21 03:50] dwnichols commented on #634
Glad that solved the issue.

[2017-03-21 03:50] #634 closed

[2017-03-21 05:21] tfiasco commented on #642
I reconsidered this problem, and I'm not sure if the failed status is the result of failure in deleting temp directory or not.

This is the output of console:

[code]

The `stdout` of node:
[code]

The last several lines of `stderr`  :
[code]

[2017-03-21 06:02] skaarthik commented on #642
In stderr, I see `Driver requested a total number of 0 executor(s).`. Try using `--num-executors` parameter in sparkclr-submit.

[2017-03-21 06:39] tfiasco commented on #642
I used the command
`sparkclr-submit.sh --master yarn --deploy-mode cluster --num-executors 4 --executor-cores 2 --executor-memory 1G --conf spark.speculation=true --driver-memory 1G --exe SparkClrPi.exe /usr/lib/sparkclr/examples/Batch/pi/`

The status is still FAILED, and stderr is still `Driver requested a total number of 0 executor(s).`

[2017-03-21 10:46] Mrsevic commented on #628
Could you please close this issues so I can open the new one?

[2017-03-21 10:47] Mrsevic commented on #626
You can close this issue it is irrelevant to debug, it is important that the sample runs.

[2017-03-21 13:15] dwnichols commented on #626
Closing as per requested.

[2017-03-21 13:15] #626 closed

[2017-03-21 13:16] dwnichols commented on #628
I assume this is no longer an issue. Closing as per requested.

[2017-03-21 13:16] #628 closed

[2017-03-21 15:46] skaarthik commented on #642
Are you able to successfully run Scala Pi example in your YARN cluster?

[2017-03-21 23:21] tfiasco commented on #642
Yes, I tried
`spark-submit --class org.apache.spark.examples.SparkPi --master yarn --deploy-mode cluster ./examples/jars/spark-examples_2.11-2.0.2.jar 10`
which returned a succeeded final status.

[2017-03-22 01:37] perthcha opened #643 "RDD<string>.SaveAsTextFile yields an exception"
### Context:

I'm trying to write the RDD<string> as text file on Azure Blob (wasb).

My code looks similar to this:

[code]

### Exception:

I'm getting a serialization error due to some anonymous function made by the SaveAsTextFile call (I think). The LatencyEntityGenerator+<>c__DisplayClass0_0 below is that anonymous function.

[code]

[2017-03-22 02:27] skaarthik commented on #643
What is `LatencyEntityGenerator`? Is it the class that has the main method you are running?

[2017-03-22 02:31] skaarthik commented on #642
Do you see anything in stderr file when running Scala example?

[2017-03-22 02:49] tfiasco commented on #642
The last lines in stderr of `Scala` example are:
[code]

The last lines in stderr of `Mobius` example are:
[code]

[2017-03-22 03:02] skaarthik commented on #642
Looks like some exception is thrown after successfully calculating Pi. You might be able to find the exception details in YARN logs. You could also try running the app in client mode to get the exception details in your command prompt.

[2017-03-22 04:05] perthcha commented on #643
Yes. The class that is being complained about regarding non-serializability is NOT that class though.

The DisplayClass0_0 suffix suggests that this is some anonymous function being called.

[2017-03-22 04:07] perthcha commented on #643
Also, just to give the complete picture:

The code will work fine if instead of SaveAsTextFile, we call .Collect() and simply loop over to print the output is console.

This is why I believe the anonymous function is called somewhere inside SaveAsTextFile.

[2017-03-22 04:46] tfiasco commented on #642
The SparkClrPi example returns a SUCCEEDED final status in yarn client mode, but in yarn cluster mode it is FAILED.

[2017-03-22 05:03] skaarthik commented on #642
I guess the [timeout](https://github.com/Microsoft/Mobius/tree/master/scala/src/main/org/apache/spark/util/csharp#L150) to exit app master gracefully is not enough.

If you do not mind compiling Mobius code, you could increase the timeout from 1 second to something like 5 or 10 seconds and build Mobius jar file to use. This will most likely solve the problem.

[2017-03-22 05:15] skaarthik commented on #643
I think what you pass to ForeachRDD is the anonymous method that is not marked serializable in compiler-generated class. Try moving that to a method in a [serializable] class and use that method when calling ForeachRDD. That might fix the issue.

Use [PiHelper](https://github.com/Microsoft/Mobius/blob/master/examples/Batch/pi/Program.cs#L58) from examples as a reference.

[2017-03-22 05:17] skaarthik commented on #633
@jigjosh version mismatch is a possibility here. Share Kafka and Kafka client jar version you are using.

[2017-03-22 06:48] jigjosh commented on #633
yes Kafka client jar version is missmatch
sparkclr-submit.cmd --jars D:\Mobius\runtime\dependencies\spark-streaming-kafka-0-8-assembly_2.11-2.0.0.jar --exe SparkClrKafka.exe D:\Dummy\Mobius-master\Mobius-master\examples\Streaming\Kafka\bin\Debug

will start working
thanks..

[2017-03-22 06:48] #633 closed

[2017-03-22 16:17] kmleow opened #644 "running-mobius-app documentation incorrect"
```/blob/master/notes/running-mobius-app.md```

1. It seems we need to use Spark 2.0.2 to run the release version of Mobius, not 1.6.*
2. The WordCount example Batch, it is pointing to the wrong EXE.

[2017-03-22 18:42] perthcha commented on #643
@skaarthik So I removed all the processing from the Map function (apart from `Encoding.UTF8.GetString` which is needed to get from byte[] to string) and I'm still getting the same error. Basically, here's my code right now:

[code]

If I do this instead of SaveAsTextFile, everything works ok.

[code]

[2017-03-23 08:22] jayprajapati857 opened #645 "Not able to run example of HiveDataFrame"
while debugging from visual studio I am getting this error at
 var data = sqlContext.Read().Json("file:///C:/Mobius/build/runtime/data/order.json");

System.Exception was unhandled
  HResult=-2146233088
  Message=JVM method execution failed: Nonstatic method load failed for class 10 when called with no parameters
  Source=Microsoft.Spark.CSharp.Adapter
  StackTrace:
       at Microsoft.Spark.CShar

[2017-03-26 00:14] skaarthik commented on #645
Can you share Scala exception reported in JVM?

[2017-03-26 00:16] skaarthik commented on #643
Did you try creating a non-anonymous method to use with Map method and in ForEachRDD methods?

[2017-03-26 12:12] jayprajapati857 commented on #645
@skaarthik : here is the error i got while running the example from cmd,

 [2017-03-26 17:38:54,516] [1] [INFO ] [Microsoft.Spark.CSharp.Configuration.ConfigurationService] - ConfigurationService runMode is LOCAL
[2017-03-26 17:38:54,535] [1] [INFO ] [Microsoft.Spark.CSharp.Configuration.ConfigurationService+SparkCLRConfiguration] - CSharpBackend successfully read from environment variable CSHARPB

[2017-03-26 12:18] jayprajapati857 commented on #645
@skaarthik : here is the command i am executing to run this example:
sparkclr-submit --exe HiveDataFrame.exe C:\Mobius\examples\Sql\HiveDataFrame\bin\Debug C:/Mobius/examples/Sql/HiveDataFrame/bin/Debug/data/people.json

and also tried this command :
sparkclr-submit --exe HiveDataFrame.exe C:\Mobius\examples\Sql\HiveDataFrame\bin\Debug  file:///C:/Mobius/examples/Sql/HiveDataFrame/bin/Debug/data/p

[2017-03-27 05:34] skaarthik commented on #645
'file:///...' Is the format I would recommend using.

Do you have [winutils.exe](https://github.com/Microsoft/Mobius/blob/master/notes/running-mobius-app.md#pre-requisites) in %HADOOP_HOME%\bin folder?

[2017-03-27 05:41] skaarthik commented on #644
@kmleow thanks for reporting the issues.

1. Branches 'master' and 'branch-2.0' and the latest release need Spark 2.0.*. However there other branches and related that need earlier versions of Spark.
2. Can you provide more details?

[2017-03-27 08:23] jayprajapati857 commented on #645
yes i have

[2017-03-27 11:16] jayprajapati857 commented on #645
@skaarthik : thanks for your reply i got solution i need to set builder.config() to spark.sql.wareouse.dir and works fine.

[2017-03-27 11:16] #645 closed

[2017-03-27 16:24] kmleow commented on #644
@skaarthik
The WordCount example Batch, the documentation points to ```SparkClrPi.exe``` when it actually should be ```SparkClrWordCount.exe```.

[2017-03-27 16:33] skaarthik commented on #644
@kmleow thanks. It will be fixed. Feel free to send a PR with the fix.

[2017-03-27 19:13] Aaronontheweb opened #646 "Invalid pickle opcode 0 on `ToLocalIterator` call"
Running a basic RDD against Cassandra with Mobius and observed the following exception while using Mobius 1.6.2:

[code]

The offending code:

[code]

Note that this code works if I switch from `ToLocalIterator()` to `Collect()` on the RDD.

[2017-03-28 07:53] EdStone opened #647 "NET Core"
Hi All:

Was Mobius tested on Ubuntu under NET Core?
Do you expect any issues / problems?

Thank you,
E

[2017-03-28 15:39] kmleow commented on #644
@skaarthik [PR 648](https://github.com/Microsoft/Mobius/pull/648) made

[2017-03-29 02:49] cricket007 commented on #647
Duplicate #601

[2017-03-29 04:49] skaarthik commented on #647
@cricket007 thanks for marking this a duplicate of #601
@EdStone  last year someone ran static check on Mobius code for .NET Core compliance and there were several red flags. I do not have that list handy now but the work involved to support in .NET Core did not seem trivial.

[2017-03-29 05:19] skaarthik commented on #646
@Aaronontheweb `ToLocalIterator` and `Collect` implementations do not seem to share the code that could be shared (hence the difference in behavior). I do not know the reason for that. I will ask other contributors if they know the reason for this and report back.

[2017-03-31 00:55] im281 opened #649 "Reading file from local file system"
Previous versions worked fine with
C:\pathtodirectory
Now it gives an error

[2017-03-31 01:33] im281 commented on #649
it works

[2017-03-31 01:33] #649 closed

[2017-04-02 15:36] grozeille commented on #646
Not sure if it's the same issue, so I share it mine with you:
I'm also using 1.6.2.
[code]

[code]

[2017-04-03 09:04] MrStepson opened #650 "GraphFrames support"
Do you have any plans to support **GraphFrames API**? Is there any way to use **GraphFrames** in the current version?

[2017-04-05 23:59] alexdeng opened #651 "repartitionAndSortWithinPartitions not doing repartition at all"
In the source code, I'm not seeing anywhere the partitionFunc was used to repartition the rdd. The current code merely does sorting within partitions.

 /// <summary>
        /// Repartition the RDD according to the given partitioner and, within each resulting partition,
        /// sort records by their keys.
        ///
        /// This is more efficient than calling `repartition` and then sorti